{
  "openapi": "3.0.3",
  "info": {
    "title": "Vero OMS REST API",
    "version": "1.0.23",
    "description": "REST API documentation for Vero OMS authentication, accounts, orders, history, market data, notifications, referral, diagnostics and static assets."
  },
  "servers": [
    {
      "url": "https://api-gw.verolabs.co/api/v1",
      "description": "Backend REST API"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication flows and app logout"
    },
    {
      "name": "Signup",
      "description": "APIs used during account signup"
    },
    {
      "name": "Accounts",
      "description": "User accounts, balances, positions, deposits and withdrawals"
    },
    {
      "name": "Bank Accounts",
      "description": "Saved bank account management"
    },
    {
      "name": "Orders",
      "description": "Order placement, cancellation, modification and order history"
    },
    {
      "name": "History",
      "description": "Account transactions, trades, commissions and fees"
    },
    {
      "name": "Market Data",
      "description": "Watchlists, symbol search, product master and OHLCV history"
    },
    {
      "name": "Notifications",
      "description": "In-app notifications and push token registration"
    },
    {
      "name": "Referral",
      "description": "Referral code, rebate and commission summary APIs"
    },
    {
      "name": "Diagnostics",
      "description": "Health and diagnostic endpoints"
    }
  ],
  "paths": {
    "/self-service/login/api": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/authen",
          "description": "Authentication API"
        }
      ],
      "get": {
        "tags": [
          "Auth"
        ],
        "operationId": "createLoginFlow",
        "summary": "Create a login flow",
        "security": [],
        "responses": {
          "200": {
            "description": "Login flow with UI nodes including csrf_token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFlow"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Create a login flow",
            "sidebarTitle": "Create a login flow",
            "description": "GET /self-service/login/api"
          }
        }
      }
    },
    "/self-service/login": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/authen",
          "description": "Authentication API"
        }
      ],
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "submitLoginFlow",
        "summary": "Submit password credentials to a login flow",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/Flow"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginFlowUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful login flow response. The app reads session_token from this payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/AuthFlowError"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Submit password credentials to a login flow",
            "sidebarTitle": "Submit password credentials to a login flow",
            "description": "POST /self-service/login"
          }
        }
      }
    },
    "/sessions/whoami": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/authen",
          "description": "Authentication API"
        }
      ],
      "get": {
        "tags": [
          "Auth"
        ],
        "operationId": "getWhoamiSession",
        "summary": "Get current session or tokenized JWT session",
        "description": "Returns the current authenticated session and identity data for the supplied bearer or session credential.",
        "security": [
          {
            "sessionToken": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tokenize_as",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "When provided, the response can include a bearer token for authenticated API requests."
          }
        ],
        "responses": {
          "200": {
            "description": "Session object with identity and optional bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthSession"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Get current session or tokenized JWT session",
            "sidebarTitle": "Get current session or tokenized JWT session",
            "description": "GET /sessions/whoami"
          }
        }
      }
    },
    "/self-service/registration/api": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/authen",
          "description": "Authentication API"
        }
      ],
      "get": {
        "tags": [
          "Auth"
        ],
        "operationId": "createRegistrationFlow",
        "summary": "Create a registration flow",
        "security": [],
        "responses": {
          "200": {
            "description": "Registration flow with UI nodes including csrf_token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFlow"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Create a registration flow",
            "sidebarTitle": "Create a registration flow",
            "description": "GET /self-service/registration/api"
          }
        }
      }
    },
    "/self-service/registration": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/authen",
          "description": "Authentication API"
        }
      ],
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "submitRegistrationFlow",
        "summary": "Submit registration data to a registration flow",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/Flow"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistrationFlowUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registration flow accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFlow"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/AuthFlowError"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Submit registration data to a registration flow",
            "sidebarTitle": "Submit registration data to a registration flow",
            "description": "POST /self-service/registration"
          }
        }
      }
    },
    "/self-service/recovery/api": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/authen",
          "description": "Authentication API"
        }
      ],
      "get": {
        "tags": [
          "Auth"
        ],
        "operationId": "createRecoveryFlow",
        "summary": "Create a recovery flow",
        "security": [],
        "responses": {
          "200": {
            "description": "Recovery flow data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFlow"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Create a recovery flow",
            "sidebarTitle": "Create a recovery flow",
            "description": "GET /self-service/recovery/api"
          }
        }
      }
    },
    "/self-service/recovery": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/authen",
          "description": "Authentication API"
        }
      ],
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "updateRecoveryFlow",
        "summary": "Send or verify a recovery code",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/Flow"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/RecoveryCodeRequest"
                  },
                  {
                    "$ref": "#/components/schemas/RecoveryVerifyRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recovery flow updated. A passed challenge returns session_token or continue_with set_ory_session_token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecoveryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/AuthFlowError"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Send or verify a recovery code",
            "sidebarTitle": "Send or verify a recovery code",
            "description": "POST /self-service/recovery"
          }
        }
      }
    },
    "/self-service/settings/api": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/authen",
          "description": "Authentication API"
        }
      ],
      "get": {
        "tags": [
          "Auth"
        ],
        "operationId": "createSettingsFlow",
        "summary": "Create a settings flow for password change",
        "security": [
          {
            "sessionToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Settings flow data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFlow"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Create a settings flow for password change",
            "sidebarTitle": "Create a settings flow for password change",
            "description": "GET /self-service/settings/api"
          }
        }
      }
    },
    "/self-service/settings": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/authen",
          "description": "Authentication API"
        }
      ],
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "updateSettingsFlow",
        "summary": "Update password in a settings flow",
        "security": [
          {
            "sessionToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Flow"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SettingsPasswordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password changed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFlow"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/AuthFlowError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Update password in a settings flow",
            "sidebarTitle": "Update password in a settings flow",
            "description": "POST /self-service/settings"
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "logout",
        "summary": "Logout current app session",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GenericSuccess"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Logout current app session",
            "sidebarTitle": "Logout current app session",
            "description": "POST /auth/logout"
          }
        }
      }
    },
    "/users/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "listAccounts",
        "summary": "List accounts for the current user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list accounts for current user result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "List accounts for the current user",
            "sidebarTitle": "List accounts for the current user",
            "description": "GET /users/accounts"
          }
        },
        "description": "List accounts for current user."
      }
    },
    "/users/accounts/{accountId}/orders/{startTime}/{endTime}": {
      "get": {
        "tags": [
          "History",
          "Accounts"
        ],
        "operationId": "listAccountOrders",
        "summary": "List account orders in a time range",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trading account identifier."
          },
          {
            "name": "startTime",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Start timestamp for the requested range."
          },
          {
            "name": "endTime",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "End timestamp for the requested range."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the get account orders in time range result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "List account orders in a time range",
            "sidebarTitle": "List account orders in a time range",
            "description": "GET /users/accounts/{accountId}/orders/{startTime}/{endTime}"
          }
        },
        "description": "Get account orders in time range."
      }
    },
    "/users/accounts/{accountId}/trades/{startTime}/{endTime}": {
      "get": {
        "tags": [
          "History",
          "Accounts"
        ],
        "operationId": "listAccountTrades",
        "summary": "List account trades in a time range",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trading account identifier."
          },
          {
            "name": "startTime",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Start timestamp for the requested range."
          },
          {
            "name": "endTime",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "End timestamp for the requested range."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the get account trades in time range result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "List account trades in a time range",
            "sidebarTitle": "List account trades in a time range",
            "description": "GET /users/accounts/{accountId}/trades/{startTime}/{endTime}"
          }
        },
        "description": "Get account trades in time range."
      }
    },
    "/users/accounts/{accountId}/transactions/{startTime}/{endTime}": {
      "get": {
        "tags": [
          "History",
          "Accounts"
        ],
        "operationId": "listAccountTransactions",
        "summary": "List account transactions in a time range",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trading account identifier."
          },
          {
            "name": "startTime",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Start timestamp for the requested range."
          },
          {
            "name": "endTime",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "End timestamp for the requested range."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the get account transactions in time range result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "List account transactions in a time range",
            "sidebarTitle": "List account transactions in a time range",
            "description": "GET /users/accounts/{accountId}/transactions/{startTime}/{endTime}"
          }
        },
        "description": "Get account transactions in time range."
      }
    },
    "/users/accounts/{accountId}/commissions": {
      "get": {
        "tags": [
          "History"
        ],
        "operationId": "listAccountCommissions",
        "summary": "List account commissions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/StartTimeQuery"
          },
          {
            "$ref": "#/components/parameters/EndTimeQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Commissions for the account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Commission"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "List account commissions",
            "sidebarTitle": "List account commissions",
            "description": "GET /users/accounts/{accountId}/commissions"
          }
        }
      }
    },
    "/users/accounts/{accountId}/fees": {
      "get": {
        "tags": [
          "History"
        ],
        "operationId": "listAccountFees",
        "summary": "List account fees",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/StartTimeQuery"
          },
          {
            "$ref": "#/components/parameters/EndTimeQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Fees for the account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Fee"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "List account fees",
            "sidebarTitle": "List account fees",
            "description": "GET /users/accounts/{accountId}/fees"
          }
        }
      }
    },
    "/users/accounts/{accountId}/equity/withdraw": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "withdrawEquity",
        "summary": "Withdraw equity from an account",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trading account identifier."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawEquityRequest"
              }
            }
          },
          "description": "Request payload for Withdraw account equity. Field descriptions are defined in the referenced schema when available."
        },
        "responses": {
          "200": {
            "description": "Creates or executes the withdraw account equity result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Withdraw equity from an account",
            "sidebarTitle": "Withdraw equity from an account",
            "description": "POST /users/accounts/{accountId}/equity/withdraw"
          }
        },
        "description": "Withdraw account equity."
      }
    },
    "/bank-accounts": {
      "get": {
        "tags": [
          "Bank Accounts"
        ],
        "operationId": "listBankAccounts",
        "summary": "List saved bank accounts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list bank accounts for current user result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BankAccount"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "List saved bank accounts",
            "sidebarTitle": "List saved bank accounts",
            "description": "GET /bank-accounts"
          }
        },
        "description": "List bank accounts for current user."
      },
      "post": {
        "tags": [
          "Bank Accounts"
        ],
        "operationId": "createBankAccount",
        "summary": "Create a bank account",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankAccountRequest"
              }
            }
          },
          "description": "Request payload for Create a bank account for current user. Field descriptions are defined in the referenced schema when available."
        },
        "responses": {
          "200": {
            "description": "Creates or executes the create a bank account for current user result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccount"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Create a bank account",
            "sidebarTitle": "Create a bank account",
            "description": "POST /bank-accounts"
          }
        },
        "description": "Create a bank account for current user."
      }
    },
    "/orders/new/{refOrderID}/{accountID}/{symbol}/{orderSide}/{price}/{qty}/{orderType}": {
      "post": {
        "tags": [
          "Orders"
        ],
        "operationId": "placeOrder",
        "summary": "Place a new order",
        "description": "Place a legacy normal order.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "refOrderID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ref order id parameter."
          },
          {
            "name": "accountID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trading account identifier."
          },
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trading symbol or product code."
          },
          {
            "name": "orderSide",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "order side parameter."
          },
          {
            "name": "price",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "price parameter."
          },
          {
            "name": "qty",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "qty parameter."
          },
          {
            "name": "orderType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "order type parameter."
          }
        ],
        "responses": {
          "200": {
            "description": "Creates or executes the place a legacy normal order result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Place a new order",
            "sidebarTitle": "Place a new order",
            "description": "POST /orders/new/{refOrderID}/{accountID}/{symbol}/{orderSide}/{price}/{qty}/{orderType}"
          }
        }
      }
    },
    "/orders/cancel/{orderID}": {
      "post": {
        "tags": [
          "Orders"
        ],
        "operationId": "cancelOrder",
        "summary": "Cancel an order",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orderID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Order identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "Creates or executes the cancel an order result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Cancel an order",
            "sidebarTitle": "Cancel an order",
            "description": "POST /orders/cancel/{orderID}"
          }
        },
        "description": "Cancel an order."
      }
    },
    "/orders/modify/{orderID}/{price}/{qty}": {
      "post": {
        "tags": [
          "Orders"
        ],
        "operationId": "modifyOrder",
        "summary": "Modify an existing order",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orderID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Order identifier."
          },
          {
            "name": "price",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "price parameter."
          },
          {
            "name": "qty",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "qty parameter."
          }
        ],
        "responses": {
          "200": {
            "description": "Creates or executes the modify price and quantity of an order result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Modify an existing order",
            "sidebarTitle": "Modify an existing order",
            "description": "POST /orders/modify/{orderID}/{price}/{qty}"
          }
        },
        "description": "Modify price and quantity of an order."
      }
    },
    "/orders/execution-reports": {
      "get": {
        "tags": [
          "Orders"
        ],
        "operationId": "listExecutionReports",
        "summary": "List execution reports for the current user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the get execution reports for current user result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "List execution reports for the current user",
            "sidebarTitle": "List execution reports for the current user",
            "description": "GET /orders/execution-reports"
          }
        },
        "description": "Get execution reports for current user."
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "operationId": "listOrders",
        "summary": "List orders with optional filters",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional status filter."
          },
          {
            "name": "account",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional account filter."
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Trading symbol or product code."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the get orders with optional filters result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "List orders with optional filters",
            "sidebarTitle": "List orders with optional filters",
            "description": "GET /orders"
          }
        },
        "description": "Get orders with optional filters."
      }
    },
    "/orders/trades": {
      "get": {
        "tags": [
          "Orders"
        ],
        "operationId": "listTrades",
        "summary": "List trades for the current user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the get trades for current user result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "List trades for the current user",
            "sidebarTitle": "List trades for the current user",
            "description": "GET /orders/trades"
          }
        },
        "description": "Get trades for current user."
      }
    },
    "/MarketData/GetWatchList/{watchListId}": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/v1",
          "description": "Backend REST API"
        }
      ],
      "get": {
        "tags": [
          "Market Data"
        ],
        "operationId": "getWatchList",
        "summary": "Get a watchlist by id",
        "security": [],
        "parameters": [
          {
            "name": "watchListId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id parameter."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the get market-data watchlist by id/filter result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketDataResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Get a watchlist by id",
            "sidebarTitle": "Get a watchlist by id",
            "description": "GET /MarketData/GetWatchList/{watchListId}"
          }
        },
        "description": "Get market-data watchlist by id/filter."
      }
    },
    "/MarketData/GetVN30Spot": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/v1",
          "description": "Backend REST API"
        }
      ],
      "get": {
        "tags": [
          "Market Data"
        ],
        "operationId": "getVN30Spot",
        "summary": "Get default VN30 spot symbol",
        "security": [],
        "responses": {
          "200": {
            "description": "Returns the get vn30 spot data result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketDataResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Get default VN30 spot symbol",
            "sidebarTitle": "Get default VN30 spot symbol",
            "description": "GET /MarketData/GetVN30Spot"
          }
        },
        "description": "Get VN30 spot data."
      }
    },
    "/MarketData/GetSymbolSearch/{query}": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/v1",
          "description": "Backend REST API"
        }
      ],
      "get": {
        "tags": [
          "Market Data"
        ],
        "operationId": "searchSymbols",
        "summary": "Search symbols",
        "security": [],
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "search parameter."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the search symbols result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketDataResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Search symbols",
            "sidebarTitle": "Search symbols",
            "description": "GET /MarketData/GetSymbolSearch/{query}"
          }
        },
        "description": "Search symbols."
      }
    },
    "/MarketData/GetProductMaster/{symbol}": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/v1",
          "description": "Backend REST API"
        }
      ],
      "get": {
        "tags": [
          "Market Data"
        ],
        "operationId": "getProductMaster",
        "summary": "Get product master data for a symbol",
        "security": [],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trading symbol or product code."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the get product master result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketDataResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Get product master data for a symbol",
            "sidebarTitle": "Get product master data for a symbol",
            "description": "GET /MarketData/GetProductMaster/{symbol}"
          }
        },
        "description": "Get product master."
      }
    },
    "/GetOhlcvHis/{symbol}/{resolution}/{fromMs}/{toMs}": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co",
          "description": "Market micro API"
        }
      ],
      "get": {
        "tags": [
          "Market Data"
        ],
        "operationId": "getOhlcvHistory",
        "summary": "Get OHLCV history",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/Symbol"
          },
          {
            "$ref": "#/components/parameters/Resolution"
          },
          {
            "$ref": "#/components/parameters/FromMs"
          },
          {
            "$ref": "#/components/parameters/ToMs"
          }
        ],
        "responses": {
          "200": {
            "description": "OHLCV bars.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OhlcvBar"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Get OHLCV history",
            "sidebarTitle": "Get OHLCV history",
            "description": "GET /GetOhlcvHis/{symbol}/{resolution}/{fromMs}/{toMs}"
          }
        }
      }
    },
    "/GetOhlcvHis/{symbol}/{resolution}/{fromMs}/{toMs}/{countBack}": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co",
          "description": "Market micro API"
        }
      ],
      "get": {
        "tags": [
          "Market Data"
        ],
        "operationId": "getOhlcvHistoryCountBack",
        "summary": "Get OHLCV history with countBack",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/Symbol"
          },
          {
            "$ref": "#/components/parameters/Resolution"
          },
          {
            "$ref": "#/components/parameters/FromMs"
          },
          {
            "$ref": "#/components/parameters/ToMs"
          },
          {
            "name": "countBack",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OHLCV bars.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OhlcvBar"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Get OHLCV history with countBack",
            "sidebarTitle": "Get OHLCV history with countBack",
            "description": "GET /GetOhlcvHis/{symbol}/{resolution}/{fromMs}/{toMs}/{countBack}"
          }
        }
      }
    },
    "/diagnostics/margin-ratios/{symbol}": {
      "get": {
        "tags": [
          "Diagnostics",
          "Market Data"
        ],
        "operationId": "getMarginRatio",
        "summary": "Get margin ratio for a symbol",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trading symbol or product code."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the get effective margin ratio diagnostics for a symbol result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarginRatio"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Get margin ratio for a symbol",
            "sidebarTitle": "Get margin ratio for a symbol",
            "description": "GET /diagnostics/margin-ratios/{symbol}"
          }
        },
        "description": "Get effective margin ratio diagnostics for a symbol."
      }
    },
    "/notifications": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "operationId": "listNotifications",
        "summary": "List notifications for the current user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 50
            },
            "description": "Maximum number of records to return."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 0
            },
            "description": "Number of records to skip."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the get notifications for current user result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "List notifications for the current user",
            "sidebarTitle": "List notifications for the current user",
            "description": "GET /notifications"
          }
        },
        "description": "Get notifications for current user."
      }
    },
    "/notifications/{notificationId}/read": {
      "put": {
        "tags": [
          "Notifications"
        ],
        "operationId": "markNotificationAsRead",
        "summary": "Mark a notification as read",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Notification identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the mark notification as read result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Mark a notification as read",
            "sidebarTitle": "Mark a notification as read",
            "description": "PUT /notifications/{notificationId}/read"
          }
        },
        "description": "Mark notification as read."
      }
    },
    "/notifications/fcm-token": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "operationId": "registerPushToken",
        "summary": "Register device push token",
        "description": "Register a device push token.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushTokenRequest"
              }
            }
          },
          "description": "Request payload for registering a device push token."
        },
        "responses": {
          "200": {
            "description": "Device push token registered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Register device push token",
            "sidebarTitle": "Register push token",
            "description": "Register device push token."
          }
        }
      },
      "delete": {
        "tags": [
          "Notifications"
        ],
        "operationId": "unregisterPushToken",
        "summary": "Unregister device push token",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushTokenRequest"
              }
            }
          },
          "description": "Request payload for unregistering a device push token."
        },
        "responses": {
          "200": {
            "description": "Device push token unregistered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Unregister device push token",
            "sidebarTitle": "Unregister push token",
            "description": "Unregister device push token."
          }
        },
        "description": "Unregister a device push token."
      }
    },
    "/referral/stats": {
      "get": {
        "tags": [
          "Referral"
        ],
        "operationId": "getReferralStats",
        "summary": "Get referral statistics",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the get referral statistics result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferralSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Get referral statistics",
            "sidebarTitle": "Get referral statistics",
            "description": "GET /referral/stats"
          }
        },
        "description": "Get referral statistics."
      }
    },
    "/referral/refcode/{refCode}": {
      "get": {
        "tags": [
          "Referral"
        ],
        "operationId": "getReferralCodeInfo",
        "summary": "Get referral code information",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "refCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Referral code."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the get referral code information result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferralInfo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Get referral code information",
            "sidebarTitle": "Get referral code information",
            "description": "GET /referral/refcode/{refCode}"
          }
        },
        "description": "Get referral code information."
      }
    },
    "/referral/history": {
      "get": {
        "tags": [
          "Referral"
        ],
        "operationId": "getReferralHistory",
        "summary": "Get referral history",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 100
            },
            "description": "Maximum number of records to return."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the get referral history result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GenericObject"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Get referral history",
            "sidebarTitle": "Get referral history",
            "description": "GET /referral/history"
          }
        },
        "description": "Get referral history."
      }
    },
    "/referral/refcode": {
      "post": {
        "tags": [
          "Referral"
        ],
        "operationId": "setReferralCode",
        "summary": "Set or update referral code and rebate rate",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetRefCodeRebateRateRequest"
              }
            }
          },
          "description": "Request payload for Set or update referral code rebate rate. Field descriptions are defined in the referenced schema when available."
        },
        "responses": {
          "200": {
            "description": "Creates or executes the set or update referral code rebate rate result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferralInfo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Set or update referral code and rebate rate",
            "sidebarTitle": "Set or update referral code and rebate rate",
            "description": "POST /referral/refcode"
          }
        },
        "description": "Set or update referral code rebate rate."
      }
    },
    "/bank-accounts/{bankId}": {
      "get": {
        "tags": [
          "Bank Accounts"
        ],
        "operationId": "getBankAccount",
        "summary": "Get bank account by ID",
        "description": "Get bank account by ID.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "bank id parameter."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the get bank account by id result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccount"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Get bank account by ID",
            "sidebarTitle": "Get bank account by ID",
            "description": "GET /bank-accounts/{bankId}"
          }
        }
      }
    },
    "/users/right-subscriptions": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "listUserRightSubscriptions",
        "summary": "List current user right subscription requests",
        "description": "List current user right subscription requests.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list current user right subscription requests result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RightSubscription"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "List current user right subscription requests",
            "sidebarTitle": "List current user right subscription requests",
            "description": "GET /users/right-subscriptions"
          }
        }
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "subscribeRight",
        "summary": "Subscribe to a right offering",
        "description": "Subscribe to a right offering.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscribeRightRequest"
              }
            }
          },
          "description": "Request payload for Subscribe to a right offering. Field descriptions are defined in the referenced schema when available."
        },
        "responses": {
          "200": {
            "description": "Creates or executes the subscribe to a right offering result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Subscribe to a right offering",
            "sidebarTitle": "Subscribe to a right offering",
            "description": "POST /users/right-subscriptions"
          }
        }
      }
    },
    "/users/covered-margin-call": {
      "patch": {
        "tags": [
          "Accounts"
        ],
        "operationId": "adjustCoveredMargin",
        "summary": "Adjust covered margin call amount",
        "description": "Adjust covered margin call amount.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdjustCoveredMarginRequest"
              }
            }
          },
          "description": "Request payload for Adjust covered margin call amount. Field descriptions are defined in the referenced schema when available."
        },
        "responses": {
          "200": {
            "description": "Partially updates the adjust covered margin call amount result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Adjust covered margin call amount",
            "sidebarTitle": "Adjust covered margin call amount",
            "description": "PATCH /users/covered-margin-call"
          }
        }
      }
    },
    "/api/id-card": {
      "post": {
        "tags": [
          "Signup"
        ],
        "summary": "Parse ID card images during signup",
        "operationId": "parseSignupIdCard",
        "description": "Parses the front ID-card image and optional back/portrait images submitted during signup. Send base64 image content in JSON without the data URL prefix.",
        "requestBody": {
          "required": true,
          "description": "Base64-encoded ID-card images captured or uploaded in the signup flow. `frontImage` is required; `backImage` and `portraitImage` are optional.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdCardParseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Parsed ID-card data and optional processed image URLs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdCardParseResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "security": [],
        "servers": [
          {
            "url": "https://api-gw.verolabs.co/api/v2/chat",
            "description": "Signup API"
          }
        ],
        "x-mint": {
          "metadata": {
            "title": "Parse ID card images during signup",
            "sidebarTitle": "Parse ID card images",
            "description": "POST /api/id-card"
          }
        }
      }
    },
    "/MarketData/GetProductTradeLog/{symbol}/{startUnixTime}/{endUnixTime}": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/v1",
          "description": "Backend REST API"
        }
      ],
      "get": {
        "tags": [
          "Market Data"
        ],
        "operationId": "getProductTradeLog",
        "summary": "Get product trade log in range",
        "description": "Get product trade log for a symbol within a Unix millisecond time range.",
        "security": [],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trading symbol or product code."
          },
          {
            "name": "startUnixTime",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Start timestamp in Unix milliseconds."
          },
          {
            "name": "endUnixTime",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "End timestamp in Unix milliseconds."
          }
        ],
        "responses": {
          "200": {
            "description": "Trade log for the requested symbol and time range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketDataResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Get product trade log in range",
            "sidebarTitle": "Get product trade log in range",
            "description": "GET /MarketData/GetProductTradeLog/{symbol}/{startUnixTime}/{endUnixTime}"
          }
        }
      }
    },
    "/MarketData/GetVNIndex/{index}": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/v1",
          "description": "Backend REST API"
        }
      ],
      "get": {
        "tags": [
          "Market Data"
        ],
        "operationId": "getVNIndex",
        "summary": "Get VN index data",
        "description": "Get data for a Vietnamese market index.",
        "security": [],
        "parameters": [
          {
            "name": "index",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Market index identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "Requested market index data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketDataResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Get VN index data",
            "sidebarTitle": "Get VN index data",
            "description": "GET /MarketData/GetVNIndex/{index}"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer JWT used for protected REST API requests."
      },
      "sessionToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Session-Token",
        "description": "Session token returned by authentication flows."
      }
    },
    "parameters": {
      "Flow": {
        "name": "flow",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Authentication flow id returned by the corresponding create flow endpoint."
      },
      "AccountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "StartTime": {
        "name": "startTime",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        },
        "description": "Unix timestamp in milliseconds."
      },
      "EndTime": {
        "name": "endTime",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        },
        "description": "Unix timestamp in milliseconds."
      },
      "StartTimeQuery": {
        "name": "start_time",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int64"
        },
        "description": "Unix timestamp in milliseconds."
      },
      "EndTimeQuery": {
        "name": "end_time",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int64"
        },
        "description": "Unix timestamp in milliseconds."
      },
      "OrderID": {
        "name": "orderID",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "Symbol": {
        "name": "symbol",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "example": "VN30F1M"
        }
      },
      "Resolution": {
        "name": "resolution",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "example": 60
        },
        "description": "Candle resolution in seconds. The app uses 60 for 1 minute and 86400 for daily."
      },
      "FromMs": {
        "name": "fromMs",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        },
        "description": "Start time in Unix milliseconds."
      },
      "ToMs": {
        "name": "toMs",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        },
        "description": "End time in Unix milliseconds."
      }
    },
    "responses": {
      "GenericSuccess": {
        "description": "Request completed successfully.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GenericObject"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing, expired or invalid token.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Error": {
        "description": "Error response. The app reads detail or message when available.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          },
          "text/plain": {
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "AuthFlowError": {
        "description": "Authentication flow validation error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AuthFlow"
            }
          }
        }
      },
      "ErrorResponse": {
        "description": "Error response. Frontend extracts error, message, detail, or plain text.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "GenericObject": {
        "type": "object",
        "properties": {},
        "additionalProperties": true,
        "description": "Untyped JSON object for dynamic response fields."
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Machine-readable error code or short error string."
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message."
          },
          "detail": {
            "type": "string",
            "description": "Detailed error text returned by the backend when available."
          },
          "details": {
            "description": "Additional structured error details, if provided by the backend."
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code associated with the error."
          }
        },
        "additionalProperties": true,
        "description": "Standard error payload returned by the API."
      },
      "AuthFlow": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "issued_at": {
            "type": "string",
            "format": "date-time"
          },
          "ui": {
            "type": "object",
            "additionalProperties": true
          },
          "state": {
            "type": "string"
          }
        }
      },
      "LoginFlowUpdateRequest": {
        "type": "object",
        "required": [
          "method",
          "csrf_token",
          "password_identifier",
          "password"
        ],
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "password"
            ]
          },
          "csrf_token": {
            "type": "string"
          },
          "password_identifier": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "format": "password"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "session_token": {
            "type": "string"
          },
          "session": {
            "$ref": "#/components/schemas/AuthSession"
          },
          "identity": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "AuthSession": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "identity": {
            "type": "object",
            "additionalProperties": true,
            "properties": {
              "id": {
                "type": "string"
              },
              "traits": {
                "type": "object",
                "additionalProperties": true
              }
            }
          },
          "tokenized": {
            "type": "string",
            "description": "Bearer JWT returned when a tokenized session is requested."
          }
        }
      },
      "RegistrationFlowUpdateRequest": {
        "type": "object",
        "required": [
          "method",
          "traits",
          "password"
        ],
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "password"
            ]
          },
          "traits": {
            "$ref": "#/components/schemas/RegistrationTraits"
          },
          "password": {
            "type": "string",
            "format": "password",
            "description": "Mobile app generates a secure random password."
          },
          "csrf_token": {
            "type": "string"
          }
        }
      },
      "RegistrationTraits": {
        "type": "object",
        "required": [
          "email",
          "name",
          "documentNumber"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "object",
            "required": [
              "first",
              "last"
            ],
            "properties": {
              "first": {
                "type": "string"
              },
              "last": {
                "type": "string"
              }
            }
          },
          "phone": {
            "type": "string"
          },
          "refer_code": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "documentNumber": {
            "type": "string"
          }
        }
      },
      "RecoveryCodeRequest": {
        "type": "object",
        "required": [
          "method",
          "email"
        ],
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "code"
            ]
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "RecoveryVerifyRequest": {
        "type": "object",
        "required": [
          "method",
          "code"
        ],
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "code"
            ]
          },
          "code": {
            "type": "string"
          }
        }
      },
      "RecoveryResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AuthFlow"
          },
          {
            "type": "object",
            "properties": {
              "session_token": {
                "type": "string"
              },
              "continue_with": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        ]
      },
      "SettingsPasswordRequest": {
        "type": "object",
        "required": [
          "method",
          "password"
        ],
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "password"
            ]
          },
          "password": {
            "type": "string",
            "format": "password"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "accountId",
          "totalEquity",
          "credit",
          "maintenanceMargin",
          "tempMaintenanceMargin",
          "totalRealizedPnl",
          "totalUnrealizedPnl",
          "tradingPower",
          "crossMargin",
          "positions",
          "tempPositions"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "totalEquity": {
            "type": "number"
          },
          "credit": {
            "type": "number"
          },
          "maintenanceMargin": {
            "type": "number"
          },
          "tempMaintenanceMargin": {
            "type": "number"
          },
          "totalRealizedPnl": {
            "type": "number"
          },
          "totalUnrealizedPnl": {
            "type": "number"
          },
          "tradingPower": {
            "type": "number"
          },
          "crossMargin": {
            "type": "boolean"
          },
          "refCode": {
            "type": "string"
          },
          "positions": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Position"
            }
          },
          "tempPositions": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/TempPosition"
            }
          }
        }
      },
      "Position": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "avgPrice": {
            "type": "number"
          },
          "qty": {
            "type": "integer",
            "description": "Positive is long, negative is short."
          },
          "marketPrice": {
            "type": "number"
          },
          "marketValue": {
            "type": "number"
          },
          "portPercent": {
            "type": "number"
          },
          "realizePnl": {
            "type": "number"
          },
          "unrealizePnl": {
            "type": "number"
          },
          "coveredMarginCall": {
            "type": "number"
          },
          "marginRatio": {
            "$ref": "#/components/schemas/MarginRatio"
          },
          "forceClosePrice": {
            "type": "number"
          },
          "forceCloseStatus": {
            "type": "string"
          },
          "marginCallPrice": {
            "type": "number"
          },
          "marginCallStatus": {
            "type": "string"
          }
        }
      },
      "TempPosition": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string"
          },
          "netQty": {
            "type": "integer"
          },
          "avgPrice": {
            "type": "number"
          },
          "orderCount": {
            "type": "integer"
          },
          "marketPrice": {
            "type": "number"
          }
        }
      },
      "MarginRatio": {
        "type": "object",
        "properties": {
          "marginRatio": {
            "type": "number",
            "description": "Margin ratio requirement."
          },
          "marginCallRate": {
            "type": "number",
            "description": "Margin-call threshold rate."
          },
          "forceCloseRate": {
            "type": "number",
            "description": "Force-close threshold rate."
          },
          "tradingFee": {
            "type": "number",
            "description": "Trading fee rate."
          },
          "productCommission": {
            "type": "number",
            "description": "Product commission rate."
          },
          "tax": {
            "type": "number",
            "description": "Tax rate."
          },
          "overnightFee": {
            "type": "number",
            "description": "Overnight holding fee rate."
          },
          "shortSellFee": {
            "type": "number",
            "description": "Short-sell fee rate."
          }
        },
        "additionalProperties": true,
        "description": "Margin, fee, tax, and risk-ratio configuration."
      },
      "WithdrawEquityRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Withdrawal amount. Must be greater than zero."
          },
          "bankId": {
            "type": "string",
            "description": "Registered bank account identifier to receive the withdrawal."
          }
        },
        "required": [
          "amount",
          "bankId"
        ],
        "additionalProperties": true,
        "description": "Payload for withdrawing equity to a registered bank account."
      },
      "BankAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Bank account identifier."
          },
          "userId": {
            "type": "string",
            "description": "Owner user identifier."
          },
          "bankAccountName": {
            "type": "string",
            "description": "Beneficiary name on the bank account."
          },
          "bankAccountNumber": {
            "type": "string",
            "description": "Bank account number."
          },
          "bankCode": {
            "type": "string",
            "description": "Bank code selected by the user."
          },
          "createdAt": {
            "type": "integer",
            "description": "Creation timestamp."
          }
        },
        "additionalProperties": true,
        "description": "Bank account saved by the current user for withdrawals."
      },
      "CreateBankAccountRequest": {
        "type": "object",
        "properties": {
          "bankAccountName": {
            "type": "string",
            "description": "Beneficiary name on the bank account."
          },
          "bankAccountNumber": {
            "type": "string",
            "description": "Bank account number."
          },
          "bankCode": {
            "type": "string",
            "description": "Bank code."
          }
        },
        "required": [
          "bankAccountName",
          "bankAccountNumber",
          "bankCode"
        ],
        "additionalProperties": true,
        "description": "Payload for creating a bank account."
      },
      "BankAccountEnvelope": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/BankAccount"
          }
        },
        "additionalProperties": true
      },
      "OrderSide": {
        "type": "string",
        "enum": [
          "B",
          "S"
        ],
        "description": "B = Buy, S = Sell."
      },
      "OrderType": {
        "type": "string",
        "enum": [
          "LO",
          "MO",
          "ATO",
          "ATC",
          "MTL"
        ]
      },
      "Order": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "string"
          },
          "orderID": {
            "type": "string"
          },
          "refOrderID": {
            "type": "string"
          },
          "externalOrderID": {
            "type": "string"
          },
          "externalSecondOrderID": {
            "type": "string"
          },
          "accountID": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "orderSide": {
            "$ref": "#/components/schemas/OrderSide"
          },
          "orderStatus": {
            "type": "string",
            "description": "FIX 5.0 style values used by the app: 0 New, 1 Partially Filled, 2 Filled, 4 Cancelled, 7 Stopped, 8 Rejected. Backend may also return text statuses."
          },
          "orderType": {
            "$ref": "#/components/schemas/OrderType"
          },
          "orderEntryPrice": {
            "type": "number"
          },
          "orderEntryQty": {
            "type": "integer"
          },
          "orderCurrentPrice": {
            "type": "number"
          },
          "orderCurrentQty": {
            "type": "integer"
          },
          "filledQty": {
            "type": "integer"
          },
          "avgFillPrice": {
            "type": "number"
          },
          "cancelledQty": {
            "type": "integer"
          },
          "orderText": {
            "type": "string"
          },
          "unixUTCTimeMs": {
            "type": "integer",
            "format": "int64"
          },
          "createunixUTCTimeMs": {
            "type": "integer",
            "format": "int64"
          },
          "persisState": {
            "type": "string"
          },
          "algoID": {
            "type": "string"
          },
          "positionID": {
            "type": "string"
          },
          "parentOrderId": {
            "type": "string"
          }
        }
      },
      "OrderActionResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "data": {},
          "message": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "Trade": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "persisState": {
            "type": "string"
          },
          "orderID": {
            "type": "string"
          },
          "refOrderID": {
            "type": "string"
          },
          "externalOrderID": {
            "type": "string"
          },
          "tradeID": {
            "type": "string"
          },
          "accountID": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "orderSide": {
            "$ref": "#/components/schemas/OrderSide"
          },
          "tradedPrice": {
            "type": "number"
          },
          "tradedQty": {
            "type": "integer"
[...]
