{
  "openapi": "3.0.3",
  "info": {
    "title": "Vero OMS REST API",
    "version": "1.0.23",
    "description": "REST API documentation for Vero OMS authentication, accounts, orders, history, market data, notifications, referral, diagnostics and static assets."
  },
  "servers": [
    {
      "url": "https://api-gw.verolabs.co/api/v1",
      "description": "Backend REST API"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Ory Kratos native authentication flows and app logout"
    },
    {
      "name": "Accounts",
      "description": "User accounts, balances, positions, deposits and withdrawals"
    },
    {
      "name": "Bank Accounts",
      "description": "Saved bank account management"
    },
    {
      "name": "Orders",
      "description": "Order placement, cancellation, modification and order history"
    },
    {
      "name": "History",
      "description": "Account transactions, trades, commissions and fees"
    },
    {
      "name": "Market Data",
      "description": "Watchlists, symbol search, product master and OHLCV history"
    },
    {
      "name": "Notifications",
      "description": "In-app notifications and FCM token registration"
    },
    {
      "name": "Referral",
      "description": "Referral code, rebate and commission summary APIs"
    },
    {
      "name": "Diagnostics",
      "description": "Health and diagnostic endpoints"
    },
    {
      "name": "Static Assets",
      "description": "Configured PDFs and symbol logos fetched by the app"
    }
  ],
  "paths": {
    "/self-service/login/api": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/authen",
          "description": "Ory Kratos authentication API"
        }
      ],
      "get": {
        "tags": [
          "Auth"
        ],
        "operationId": "createLoginFlow",
        "summary": "Create a native login flow",
        "security": [],
        "responses": {
          "200": {
            "description": "Login flow with UI nodes including csrf_token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OryFlow"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Create a native login flow",
            "sidebarTitle": "Create a native login flow",
            "description": "GET /self-service/login/api"
          }
        }
      }
    },
    "/self-service/login": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/authen",
          "description": "Ory Kratos authentication API"
        }
      ],
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "submitLoginFlow",
        "summary": "Submit password credentials to a login flow",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/Flow"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginFlowUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful login flow response. The app reads session_token from this payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OryLoginResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/OryFlowError"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Submit password credentials to a login flow",
            "sidebarTitle": "Submit password credentials to a login flow",
            "description": "POST /self-service/login"
          }
        }
      }
    },
    "/sessions/whoami": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/authen",
          "description": "Ory Kratos authentication API"
        }
      ],
      "get": {
        "tags": [
          "Auth"
        ],
        "operationId": "getWhoamiSession",
        "summary": "Get current session or tokenized JWT session",
        "description": "The app calls this with X-Session-Token and tokenize_as=jwt_template_1 after login, and later with Authorization: Bearer <jwt> to fetch identity data.",
        "security": [
          {
            "sessionToken": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tokenize_as",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "jwt_template_1"
            },
            "description": "When set to jwt_template_1, response should include tokenized JWT used as app bearer token."
          }
        ],
        "responses": {
          "200": {
            "description": "Ory session object with identity and optional tokenized JWT.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrySession"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Get current session or tokenized JWT session",
            "sidebarTitle": "Get current session or tokenized JWT session",
            "description": "GET /sessions/whoami"
          }
        }
      }
    },
    "/self-service/registration/api": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/authen",
          "description": "Ory Kratos authentication API"
        }
      ],
      "get": {
        "tags": [
          "Auth"
        ],
        "operationId": "createRegistrationFlow",
        "summary": "Create a native registration flow",
        "security": [],
        "responses": {
          "200": {
            "description": "Registration flow with UI nodes including csrf_token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OryFlow"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Create a native registration flow",
            "sidebarTitle": "Create a native registration flow",
            "description": "GET /self-service/registration/api"
          }
        }
      }
    },
    "/self-service/registration": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/authen",
          "description": "Ory Kratos authentication API"
        }
      ],
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "submitRegistrationFlow",
        "summary": "Submit registration data to a registration flow",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/Flow"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistrationFlowUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registration flow accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OryFlow"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/OryFlowError"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Submit registration data to a registration flow",
            "sidebarTitle": "Submit registration data to a registration flow",
            "description": "POST /self-service/registration"
          }
        }
      }
    },
    "/self-service/recovery/api": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/authen",
          "description": "Ory Kratos authentication API"
        }
      ],
      "get": {
        "tags": [
          "Auth"
        ],
        "operationId": "createRecoveryFlow",
        "summary": "Create a recovery flow",
        "security": [],
        "responses": {
          "200": {
            "description": "Recovery flow data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OryFlow"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Create a recovery flow",
            "sidebarTitle": "Create a recovery flow",
            "description": "GET /self-service/recovery/api"
          }
        }
      }
    },
    "/self-service/recovery": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/authen",
          "description": "Ory Kratos authentication API"
        }
      ],
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "updateRecoveryFlow",
        "summary": "Send or verify a recovery code",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/Flow"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/RecoveryCodeRequest"
                  },
                  {
                    "$ref": "#/components/schemas/RecoveryVerifyRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recovery flow updated. A passed challenge returns session_token or continue_with set_ory_session_token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OryRecoveryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/OryFlowError"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Send or verify a recovery code",
            "sidebarTitle": "Send or verify a recovery code",
            "description": "POST /self-service/recovery"
          }
        }
      }
    },
    "/self-service/settings/api": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/authen",
          "description": "Ory Kratos authentication API"
        }
      ],
      "get": {
        "tags": [
          "Auth"
        ],
        "operationId": "createSettingsFlow",
        "summary": "Create a settings flow for password change",
        "security": [
          {
            "sessionToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Settings flow data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OryFlow"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Create a settings flow for password change",
            "sidebarTitle": "Create a settings flow for password change",
            "description": "GET /self-service/settings/api"
          }
        }
      }
    },
    "/self-service/settings": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/authen",
          "description": "Ory Kratos authentication API"
        }
      ],
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "updateSettingsFlow",
        "summary": "Update password in a settings flow",
        "security": [
          {
            "sessionToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Flow"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SettingsPasswordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password changed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OryFlow"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/OryFlowError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Update password in a settings flow",
            "sidebarTitle": "Update password in a settings flow",
            "description": "POST /self-service/settings"
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "logout",
        "summary": "Logout current app session",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GenericSuccess"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Logout current app session",
            "sidebarTitle": "Logout current app session",
            "description": "POST /auth/logout"
          }
        }
      }
    },
    "/users/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "listAccounts",
        "summary": "List accounts for the current user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Accounts for the current user.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "List accounts for the current user",
            "sidebarTitle": "List accounts for the current user",
            "description": "GET /users/accounts"
          }
        }
      }
    },
    "/users/accounts/{accountId}/orders/{startTime}/{endTime}": {
      "get": {
        "tags": [
          "History",
          "Accounts"
        ],
        "operationId": "listAccountOrders",
        "summary": "List account orders in a time range",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/StartTime"
          },
          {
            "$ref": "#/components/parameters/EndTime"
          }
        ],
        "responses": {
          "200": {
            "description": "Orders in the requested time range.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "List account orders in a time range",
            "sidebarTitle": "List account orders in a time range",
            "description": "GET /users/accounts/{accountId}/orders/{startTime}/{endTime}"
          }
        }
      }
    },
    "/users/accounts/{accountId}/trades/{startTime}/{endTime}": {
      "get": {
        "tags": [
          "History",
          "Accounts"
        ],
        "operationId": "listAccountTrades",
        "summary": "List account trades in a time range",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/StartTime"
          },
          {
            "$ref": "#/components/parameters/EndTime"
          }
        ],
        "responses": {
          "200": {
            "description": "Trades in the requested time range.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Trade"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "List account trades in a time range",
            "sidebarTitle": "List account trades in a time range",
            "description": "GET /users/accounts/{accountId}/trades/{startTime}/{endTime}"
          }
        }
      }
    },
    "/users/accounts/{accountId}/transactions/{startTime}/{endTime}": {
      "get": {
        "tags": [
          "History",
          "Accounts"
        ],
        "operationId": "listAccountTransactions",
        "summary": "List account transactions in a time range",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/StartTime"
          },
          {
            "$ref": "#/components/parameters/EndTime"
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions in the requested time range.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Transaction"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "List account transactions in a time range",
            "sidebarTitle": "List account transactions in a time range",
            "description": "GET /users/accounts/{accountId}/transactions/{startTime}/{endTime}"
          }
        }
      }
    },
    "/users/accounts/{accountId}/commissions": {
      "get": {
        "tags": [
          "History"
        ],
        "operationId": "listAccountCommissions",
        "summary": "List account commissions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/StartTimeQuery"
          },
          {
            "$ref": "#/components/parameters/EndTimeQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Commissions for the account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Commission"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "List account commissions",
            "sidebarTitle": "List account commissions",
            "description": "GET /users/accounts/{accountId}/commissions"
          }
        }
      }
    },
    "/users/accounts/{accountId}/fees": {
      "get": {
        "tags": [
          "History"
        ],
        "operationId": "listAccountFees",
        "summary": "List account fees",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/StartTimeQuery"
          },
          {
            "$ref": "#/components/parameters/EndTimeQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Fees for the account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Fee"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "List account fees",
            "sidebarTitle": "List account fees",
            "description": "GET /users/accounts/{accountId}/fees"
          }
        }
      }
    },
    "/users/accounts/{accountId}/equity/withdraw": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "withdrawEquity",
        "summary": "Withdraw equity from an account",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawEquityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdrawal response payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObject"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Withdraw equity from an account",
            "sidebarTitle": "Withdraw equity from an account",
            "description": "POST /users/accounts/{accountId}/equity/withdraw"
          }
        }
      }
    },
    "/bank-accounts": {
      "get": {
        "tags": [
          "Bank Accounts"
        ],
        "operationId": "listBankAccounts",
        "summary": "List saved bank accounts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Saved bank accounts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BankAccount"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "List saved bank accounts",
            "sidebarTitle": "List saved bank accounts",
            "description": "GET /bank-accounts"
          }
        }
      },
      "post": {
        "tags": [
          "Bank Accounts"
        ],
        "operationId": "createBankAccount",
        "summary": "Create a bank account",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created bank account. Some backend responses wrap it in a data field.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BankAccount"
                    },
                    {
                      "$ref": "#/components/schemas/BankAccountEnvelope"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Create a bank account",
            "sidebarTitle": "Create a bank account",
            "description": "POST /bank-accounts"
          }
        }
      }
    },
    "/orders/new/{refOrderID}/{accountID}/{symbol}/{orderSide}/{price}/{qty}/{orderType}": {
      "post": {
        "tags": [
          "Orders"
        ],
        "operationId": "placeOrder",
        "summary": "Place a new order",
        "description": "The mobile app sends all order fields as path segments and no JSON body.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "refOrderID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Symbol"
          },
          {
            "name": "orderSide",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrderSide"
            }
          },
          {
            "name": "price",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "qty",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "orderType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrderType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order placement result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderActionResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Place a new order",
            "sidebarTitle": "Place a new order",
            "description": "POST /orders/new/{refOrderID}/{accountID}/{symbol}/{orderSide}/{price}/{qty}/{orderType}"
          }
        }
      }
    },
    "/orders/cancel/{orderID}": {
      "post": {
        "tags": [
          "Orders"
        ],
        "operationId": "cancelOrder",
        "summary": "Cancel an order",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/OrderID"
          }
        ],
        "responses": {
          "200": {
            "description": "Order cancellation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderActionResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Cancel an order",
            "sidebarTitle": "Cancel an order",
            "description": "POST /orders/cancel/{orderID}"
          }
        }
      }
    },
    "/orders/modify/{orderID}/{price}/{qty}": {
      "post": {
        "tags": [
          "Orders"
        ],
        "operationId": "modifyOrder",
        "summary": "Modify an existing order",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/OrderID"
          },
          {
            "name": "price",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "qty",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order modification result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderActionResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Modify an existing order",
            "sidebarTitle": "Modify an existing order",
            "description": "POST /orders/modify/{orderID}/{price}/{qty}"
          }
        }
      }
    },
    "/orders/execution-reports": {
      "get": {
        "tags": [
          "Orders"
        ],
        "operationId": "listExecutionReports",
        "summary": "List execution reports for the current user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Execution reports.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "List execution reports for the current user",
            "sidebarTitle": "List execution reports for the current user",
            "description": "GET /orders/execution-reports"
          }
        }
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "operationId": "listOrders",
        "summary": "List orders with optional filters",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Orders matching the requested filters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "List orders with optional filters",
            "sidebarTitle": "List orders with optional filters",
            "description": "GET /orders"
          }
        }
      }
    },
    "/orders/trades": {
      "get": {
        "tags": [
          "Orders"
        ],
        "operationId": "listTrades",
        "summary": "List trades for the current user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Trades.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Trade"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "List trades for the current user",
            "sidebarTitle": "List trades for the current user",
            "description": "GET /orders/trades"
          }
        }
      }
    },
    "/MarketData/GetWatchList/{watchListId}": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/v1",
          "description": "Backend REST API"
        }
      ],
      "get": {
        "tags": [
          "Market Data"
        ],
        "operationId": "getWatchList",
        "summary": "Get a watchlist by id",
        "security": [],
        "parameters": [
          {
            "name": "watchListId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "vn30"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Watchlist response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WatchListResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Get a watchlist by id",
            "sidebarTitle": "Get a watchlist by id",
            "description": "GET /MarketData/GetWatchList/{watchListId}"
          }
        }
      }
    },
    "/MarketData/GetVN30Spot": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/v1",
          "description": "Backend REST API"
        }
      ],
      "get": {
        "tags": [
          "Market Data"
        ],
        "operationId": "getVN30Spot",
        "summary": "Get default VN30 spot symbol",
        "security": [],
        "responses": {
          "200": {
            "description": "Symbol response wrapped in isSuccess/data envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SymbolEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Get default VN30 spot symbol",
            "sidebarTitle": "Get default VN30 spot symbol",
            "description": "GET /MarketData/GetVN30Spot"
          }
        }
      }
    },
    "/MarketData/GetSymbolSearch/{query}": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/v1",
          "description": "Backend REST API"
        }
      ],
      "get": {
        "tags": [
          "Market Data"
        ],
        "operationId": "searchSymbols",
        "summary": "Search symbols",
        "security": [],
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "VN30F"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Symbol search response wrapped in isSuccess/data envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SymbolListEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Search symbols",
            "sidebarTitle": "Search symbols",
            "description": "GET /MarketData/GetSymbolSearch/{query}"
          }
        }
      }
    },
    "/MarketData/GetProductMaster/{symbol}": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/v1",
          "description": "Backend REST API"
        }
      ],
      "get": {
        "tags": [
          "Market Data"
        ],
        "operationId": "getProductMaster",
        "summary": "Get product master data for a symbol",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/Symbol"
          }
        ],
        "responses": {
          "200": {
            "description": "Product master response wrapped in isSuccess/data envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SymbolEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Get product master data for a symbol",
            "sidebarTitle": "Get product master data for a symbol",
            "description": "GET /MarketData/GetProductMaster/{symbol}"
          }
        }
      }
    },
    "/GetOhlcvHis/{symbol}/{resolution}/{fromMs}/{toMs}": {
      "servers": [
        {
          "url": "https://openapi.yixin.com.vn",
          "description": "Market micro API"
        }
      ],
      "get": {
        "tags": [
          "Market Data"
        ],
        "operationId": "getOhlcvHistory",
        "summary": "Get OHLCV history",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/Symbol"
          },
          {
            "$ref": "#/components/parameters/Resolution"
          },
          {
            "$ref": "#/components/parameters/FromMs"
          },
          {
            "$ref": "#/components/parameters/ToMs"
          }
        ],
        "responses": {
          "200": {
            "description": "OHLCV bars.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OhlcvBar"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Get OHLCV history",
            "sidebarTitle": "Get OHLCV history",
            "description": "GET /GetOhlcvHis/{symbol}/{resolution}/{fromMs}/{toMs}"
          }
        }
      }
    },
    "/GetOhlcvHis/{symbol}/{resolution}/{fromMs}/{toMs}/{countBack}": {
      "servers": [
        {
          "url": "https://openapi.yixin.com.vn",
          "description": "Market micro API"
        }
      ],
      "get": {
        "tags": [
          "Market Data"
        ],
        "operationId": "getOhlcvHistoryCountBack",
        "summary": "Get OHLCV history with countBack",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/Symbol"
          },
          {
            "$ref": "#/components/parameters/Resolution"
          },
          {
            "$ref": "#/components/parameters/FromMs"
          },
          {
            "$ref": "#/components/parameters/ToMs"
          },
          {
            "name": "countBack",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OHLCV bars.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OhlcvBar"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Get OHLCV history with countBack",
            "sidebarTitle": "Get OHLCV history with countBack",
            "description": "GET /GetOhlcvHis/{symbol}/{resolution}/{fromMs}/{toMs}/{countBack}"
          }
        }
      }
    },
    "/diagnostics/margin-ratios/{symbol}": {
      "get": {
        "tags": [
          "Diagnostics",
          "Market Data"
        ],
        "operationId": "getMarginRatio",
        "summary": "Get margin ratio for a symbol",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Symbol"
          }
        ],
        "responses": {
          "200": {
            "description": "Margin ratio data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarginRatioDiagnostics"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Get margin ratio for a symbol",
            "sidebarTitle": "Get margin ratio for a symbol",
            "description": "GET /diagnostics/margin-ratios/{symbol}"
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "operationId": "listNotifications",
        "summary": "List notifications for the current user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notifications page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNotificationsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "List notifications for the current user",
            "sidebarTitle": "List notifications for the current user",
            "description": "GET /notifications"
          }
        }
      }
    },
    "/notifications/{notificationId}/read": {
      "put": {
        "tags": [
          "Notifications"
        ],
        "operationId": "markNotificationAsRead",
        "summary": "Mark a notification as read",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GenericSuccess"
          },
          "204": {
            "description": "Notification marked as read."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Mark a notification as read",
            "sidebarTitle": "Mark a notification as read",
            "description": "PUT /notifications/{notificationId}/read"
          }
        }
      }
    },
    "/notifications/fcm-token": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "operationId": "registerFcmToken",
        "summary": "Register device FCM token",
        "description": "The app sends the raw FCM token, not the locally generated custom token.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FcmTokenRegisterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GenericSuccess"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Register device FCM token",
            "sidebarTitle": "Register device FCM token",
            "description": "POST /notifications/fcm-token"
          }
        }
      },
      "delete": {
        "tags": [
          "Notifications"
        ],
        "operationId": "unregisterFcmToken",
        "summary": "Unregister device FCM token",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FcmTokenDeleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GenericSuccess"
          },
          "204": {
            "description": "FCM token unregistered."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Unregister device FCM token",
            "sidebarTitle": "Unregister device FCM token",
            "description": "DELETE /notifications/fcm-token"
          }
        }
      }
    },
    "/referral/stats": {
      "get": {
        "tags": [
          "Referral"
        ],
        "operationId": "getReferralStats",
        "summary": "Get referral statistics",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Referral statistics.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommissionSummary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Get referral statistics",
            "sidebarTitle": "Get referral statistics",
            "description": "GET /referral/stats"
          }
        }
      }
    },
    "/referral/refcode/{refCode}": {
      "get": {
        "tags": [
          "Referral"
        ],
        "operationId": "getReferralCodeInfo",
        "summary": "Get referral code information",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "refCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Referral code information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommissionInfo"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Get referral code information",
            "sidebarTitle": "Get referral code information",
            "description": "GET /referral/refcode/{refCode}"
          }
        }
      }
    },
    "/referral/history": {
      "get": {
        "tags": [
          "Referral"
        ],
        "operationId": "getReferralHistory",
        "summary": "Get referral history",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Referral history entries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommissionHistoryItem"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Get referral history",
            "sidebarTitle": "Get referral history",
            "description": "GET /referral/history"
          }
        }
      }
    },
    "/referral/refcode": {
      "post": {
        "tags": [
          "Referral"
        ],
        "operationId": "setReferralCode",
        "summary": "Set or update referral code and rebate rate",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetReferralCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated referral code information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommissionInfo"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Set or update referral code and rebate rate",
            "sidebarTitle": "Set or update referral code and rebate rate",
            "description": "POST /referral/refcode"
          }
        }
      }
    },
    "/health": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co",
          "description": "Backend root server"
        }
      ],
      "get": {
        "tags": [
          "Diagnostics"
        ],
        "operationId": "checkHealth",
        "summary": "Check backend health",
        "security": [],
        "responses": {
          "200": {
            "description": "Health response. The app treats any 2xx-4xx response as reachable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObject"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Check backend health",
            "sidebarTitle": "Check backend health",
            "description": "GET /health"
          }
        }
      }
    },
    "/logos/{symbol}.svg": {
      "servers": [
        {
          "url": "https://static.verolabs.co",
          "description": "Static asset server"
        }
      ],
      "get": {
        "tags": [
          "Static Assets"
        ],
        "operationId": "getSymbolLogoSvg",
        "summary": "Get symbol SVG logo",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/Symbol"
          }
        ],
        "responses": {
          "200": {
            "description": "SVG logo.",
            "content": {
              "image/svg+xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Logo not found."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Get symbol SVG logo",
            "sidebarTitle": "Get symbol SVG logo",
            "description": "GET /logos/{symbol}.svg"
          }
        }
      }
    },
    "/contract_customer_yixin.pdf": {
      "servers": [
        {
          "url": "https://trading.yixin.com.vn",
          "description": "Configured website/static PDF server"
        }
      ],
      "get": {
        "tags": [
          "Static Assets"
        ],
        "operationId": "getCustomerContractPdf",
        "summary": "Download customer contract PDF",
        "security": [],
        "responses": {
          "200": {
            "description": "Customer contract PDF.",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Download customer contract PDF",
            "sidebarTitle": "Download customer contract PDF",
            "description": "GET /contract_customer_yixin.pdf"
          }
        }
      }
    },
    "/user_guide_yixin.pdf": {
      "servers": [
        {
          "url": "https://trading.yixin.com.vn",
          "description": "Configured website/static PDF server"
        }
      ],
      "get": {
        "tags": [
          "Static Assets"
        ],
        "operationId": "getUserGuidePdf",
        "summary": "Download user guide PDF",
        "security": [],
        "responses": {
          "200": {
            "description": "User guide PDF.",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Download user guide PDF",
            "sidebarTitle": "Download user guide PDF",
            "description": "GET /user_guide_yixin.pdf"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT returned by Ory /sessions/whoami?tokenize_as=jwt_template_1 and stored by ApiClient."
      },
      "sessionToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Session-Token",
        "description": "Ory session token returned by login or recovery flows."
      }
    },
    "parameters": {
      "Flow": {
        "name": "flow",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Ory flow id returned by the corresponding create flow endpoint."
      },
      "AccountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "StartTime": {
        "name": "startTime",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        },
        "description": "Unix timestamp in milliseconds."
      },
      "EndTime": {
        "name": "endTime",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        },
        "description": "Unix timestamp in milliseconds."
      },
      "StartTimeQuery": {
        "name": "start_time",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int64"
        },
        "description": "Unix timestamp in milliseconds."
      },
      "EndTimeQuery": {
        "name": "end_time",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int64"
        },
        "description": "Unix timestamp in milliseconds."
      },
      "OrderID": {
        "name": "orderID",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "Symbol": {
        "name": "symbol",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "example": "VN30F1M"
        }
      },
      "Resolution": {
        "name": "resolution",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "example": 60
        },
        "description": "Candle resolution in seconds. The app uses 60 for 1 minute and 86400 for daily."
      },
      "FromMs": {
        "name": "fromMs",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        },
        "description": "Start time in Unix milliseconds."
      },
      "ToMs": {
        "name": "toMs",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        },
        "description": "End time in Unix milliseconds."
      }
    },
    "responses": {
      "GenericSuccess": {
        "description": "Request completed successfully.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GenericObject"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing, expired or invalid token.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Error": {
        "description": "Error response. The app reads detail or message when available.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          },
          "text/plain": {
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "OryFlowError": {
        "description": "Ory flow validation error. The app reads ui.messages, ui.nodes[].messages, error.message or error.id.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OryFlow"
            }
          }
        }
      }
    },
    "schemas": {
      "GenericObject": {
        "type": "object",
        "additionalProperties": true
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "detail": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "error": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "object",
                "additionalProperties": true
              }
            ]
          }
        }
      },
      "OryFlow": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "issued_at": {
            "type": "string",
            "format": "date-time"
          },
          "ui": {
            "type": "object",
            "additionalProperties": true
          },
          "state": {
            "type": "string"
          }
        }
      },
      "LoginFlowUpdateRequest": {
        "type": "object",
        "required": [
          "method",
          "csrf_token",
          "password_identifier",
          "password"
        ],
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "password"
            ]
          },
          "csrf_token": {
            "type": "string"
          },
          "password_identifier": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "format": "password"
          }
        }
      },
      "OryLoginResponse": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "session_token": {
            "type": "string"
          },
          "session": {
            "$ref": "#/components/schemas/OrySession"
          },
          "identity": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "OrySession": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "identity": {
            "type": "object",
            "additionalProperties": true,
            "properties": {
              "id": {
                "type": "string"
              },
              "traits": {
                "type": "object",
                "additionalProperties": true
              }
            }
          },
          "tokenized": {
            "type": "string",
            "description": "JWT returned when tokenize_as=jwt_template_1 is requested."
          }
        }
      },
      "RegistrationFlowUpdateRequest": {
        "type": "object",
        "required": [
          "method",
          "traits",
          "password"
        ],
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "password"
            ]
          },
          "traits": {
            "$ref": "#/components/schemas/RegistrationTraits"
          },
          "password": {
            "type": "string",
            "format": "password",
            "description": "Mobile app generates a secure random password."
          },
          "csrf_token": {
            "type": "string"
          }
        }
      },
      "RegistrationTraits": {
        "type": "object",
        "required": [
          "email",
          "name",
          "documentNumber"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "object",
            "required": [
              "first",
              "last"
            ],
            "properties": {
              "first": {
                "type": "string"
              },
              "last": {
                "type": "string"
              }
            }
          },
          "phone": {
            "type": "string"
          },
          "refer_code": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "documentNumber": {
            "type": "string"
          }
        }
      },
      "RecoveryCodeRequest": {
        "type": "object",
        "required": [
          "method",
          "email"
        ],
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "code"
            ]
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "RecoveryVerifyRequest": {
        "type": "object",
        "required": [
          "method",
          "code"
        ],
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "code"
            ]
          },
          "code": {
            "type": "string"
          }
        }
      },
      "OryRecoveryResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OryFlow"
          },
          {
            "type": "object",
            "properties": {
              "session_token": {
                "type": "string"
              },
              "continue_with": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        ]
      },
      "SettingsPasswordRequest": {
        "type": "object",
        "required": [
          "method",
          "password"
        ],
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "password"
            ]
          },
          "password": {
            "type": "string",
            "format": "password"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "accountId",
          "totalEquity",
          "credit",
          "maintenanceMargin",
          "tempMaintenanceMargin",
          "totalRealizedPnl",
          "totalUnrealizedPnl",
          "tradingPower",
          "crossMargin",
          "positions",
          "tempPositions"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "totalEquity": {
            "type": "number"
          },
          "credit": {
            "type": "number"
          },
          "maintenanceMargin": {
            "type": "number"
          },
          "tempMaintenanceMargin": {
            "type": "number"
          },
          "totalRealizedPnl": {
            "type": "number"
          },
          "totalUnrealizedPnl": {
            "type": "number"
          },
          "tradingPower": {
            "type": "number"
          },
          "crossMargin": {
            "type": "boolean"
          },
          "refCode": {
            "type": "string"
          },
          "positions": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Position"
            }
          },
          "tempPositions": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/TempPosition"
            }
          }
        }
      },
      "Position": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "avgPrice": {
            "type": "number"
          },
          "qty": {
            "type": "integer",
            "description": "Positive is long, negative is short."
          },
          "marketPrice": {
            "type": "number"
          },
          "marketValue": {
            "type": "number"
          },
          "portPercent": {
            "type": "number"
          },
          "realizePnl": {
            "type": "number"
          },
          "unrealizePnl": {
            "type": "number"
          },
          "coveredMarginCall": {
            "type": "number"
          },
          "marginRatio": {
            "$ref": "#/components/schemas/MarginRatio"
          },
          "forceClosePrice": {
            "type": "number"
          },
          "forceCloseStatus": {
            "type": "string"
          },
          "marginCallPrice": {
            "type": "number"
          },
          "marginCallStatus": {
            "type": "string"
          }
        }
      },
      "TempPosition": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string"
          },
          "netQty": {
            "type": "integer"
          },
          "avgPrice": {
            "type": "number"
          },
          "orderCount": {
            "type": "integer"
          },
          "marketPrice": {
            "type": "number"
          }
        }
      },
      "MarginRatio": {
        "type": "object",
        "properties": {
          "marginRatio": {
            "type": "number"
          },
          "forceCloseRate": {
            "type": "number"
          },
          "marginCallRate": {
            "type": "number"
          },
          "tradingFee": {
            "type": "number"
          },
          "productCommission": {
            "type": "number"
          },
          "tax": {
            "type": "number"
          },
          "overnightFee": {
            "type": "number"
          }
        }
      },
      "WithdrawEquityRequest": {
        "type": "object",
        "required": [
          "amount",
          "bankId"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "minimum": 0
          },
          "bankId": {
            "type": "string"
          }
        }
      },
      "BankAccount": {
        "type": "object",
        "required": [
          "id",
          "userId",
          "bankAccountName",
          "bankAccountNumber",
          "bankCode",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "bankAccountName": {
            "type": "string"
          },
          "bankAccountNumber": {
            "type": "string"
          },
          "bankCode": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "CreateBankAccountRequest": {
        "type": "object",
        "required": [
          "bankAccountName",
          "bankAccountNumber",
          "bankCode"
        ],
        "properties": {
          "bankAccountName": {
            "type": "string"
          },
          "bankAccountNumber": {
            "type": "string"
          },
          "bankCode": {
            "type": "string"
          }
        }
      },
      "BankAccountEnvelope": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/BankAccount"
          }
        },
        "additionalProperties": true
      },
      "OrderSide": {
        "type": "string",
        "enum": [
          "B",
          "S"
        ],
        "description": "B = Buy, S = Sell."
      },
      "OrderType": {
        "type": "string",
        "enum": [
          "LO",
          "MO",
          "ATO",
          "ATC",
          "MTL"
        ]
      },
      "Order": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "string"
          },
          "orderID": {
            "type": "string"
          },
          "refOrderID": {
            "type": "string"
          },
          "externalOrderID": {
            "type": "string"
          },
          "externalSecondOrderID": {
            "type": "string"
          },
          "accountID": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "orderSide": {
            "$ref": "#/components/schemas/OrderSide"
          },
          "orderStatus": {
            "type": "string",
            "description": "FIX 5.0 style values used by the app: 0 New, 1 Partially Filled, 2 Filled, 4 Cancelled, 7 Stopped, 8 Rejected. Backend may also return text statuses."
          },
          "orderType": {
            "$ref": "#/components/schemas/OrderType"
          },
          "orderEntryPrice": {
            "type": "number"
          },
          "orderEntryQty": {
            "type": "integer"
          },
          "orderCurrentPrice": {
            "type": "number"
          },
          "orderCurrentQty": {
            "type": "integer"
          },
          "filledQty": {
            "type": "integer"
          },
          "avgFillPrice": {
            "type": "number"
          },
          "cancelledQty": {
            "type": "integer"
          },
          "orderText": {
            "type": "string"
          },
          "unixUTCTimeMs": {
            "type": "integer",
            "format": "int64"
          },
          "createunixUTCTimeMs": {
            "type": "integer",
            "format": "int64"
          },
          "persisState": {
            "type": "string"
          },
          "algoID": {
            "type": "string"
          },
          "positionID": {
            "type": "string"
          },
          "parentOrderId": {
            "type": "string"
          }
        }
      },
      "OrderActionResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "data": {},
          "message": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "Trade": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "persisState": {
            "type": "string"
          },
          "orderID": {
            "type": "string"
          },
          "refOrderID": {
            "type": "string"
          },
          "externalOrderID": {
            "type": "string"
          },
          "tradeID": {
            "type": "string"
          },
          "accountID": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "orderSide": {
            "$ref": "#/components/schemas/OrderSide"
          },
          "tradedPrice": {
            "type": "number"
          },
          "tradedQty": {
            "type": "integer"
          },
          "unixUTCTimeMs": {
            "type": "integer",
            "format": "int64"
          },
          "algoID": {
            "type": "string"
          },
          "positionID": {
            "type": "string"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "transactionType": {
            "type": "string",
            "description": "Examples used by UI: deposit, withdraw, fee, trading_fee, overnight_fee, realized_pnl, pnl, tax, trading_tax, commission, trading_commission, referral_refund, referral_rebate."
          },
          "amount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "network": {
            "type": "string"
          },
          "tx": {
            "type": "string"
          },
          "recvAddress": {
            "type": "string"
          },
          "senderAddress": {
            "type": "string"
          },
          "processedTime": {
            "type": "integer",
            "format": "int64"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "Commission": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "orderId": {
            "type": "string"
          },
          "tradeId": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "commission": {
            "type": "number"
          },
          "fee": {
            "type": "number"
          },
          "unixUTCTimeMs": {
            "type": "integer",
            "format": "int64"
          },
          "description": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "Fee": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "orderId": {
            "type": "string"
          },
          "tradeId": {
            "type": "string"
          },
          "feeType": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "unixUTCTimeMs": {
            "type": "integer",
            "format": "int64"
          },
          "description": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "CommissionSummary": {
        "type": "object",
        "properties": {
          "refCode": {
            "type": "string"
          },
          "referredCode": {
            "type": "string"
          },
          "totalVolume": {
            "type": "number"
          },
          "referralRewards": {
            "type": "number"
          },
          "referredFriends": {
            "type": "integer"
          },
          "friendsWhoTraded": {
            "type": "integer"
          },
          "totalRebatesGiven": {
            "type": "number"
          }
        }
      },
      "CommissionInfo": {
        "type": "object",
        "properties": {
          "refCode": {
            "type": "string"
          },
          "ownerAccountId": {
            "type": "string"
          },
          "rebateRate": {
            "type": "number",
            "description": "0-1 ratio."
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "CommissionHistoryItem": {
        "type": "object",
        "properties": {
          "friendAddress": {
            "type": "string"
          },
          "dateJoined": {
            "type": "string"
          },
          "totalVolume": {
            "type": "number"
          },
          "feesPaid": {
            "type": "number"
          },
          "yourRewards": {
            "type": "number"
          }
        }
      },
      "SetReferralCodeRequest": {
        "type": "object",
        "required": [
          "refCode",
          "rebateRate"
        ],
        "properties": {
          "refCode": {
            "type": "string"
          },
          "rebateRate": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          }
        }
      },
      "NotificationData": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "position": {
            "type": "object",
            "additionalProperties": true
          },
          "account": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "Notification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "userId": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/NotificationType"
          },
          "topic": {
            "type": "string"
          },
          "messageID": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/NotificationData"
          },
          "read": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "integer",
            "format": "int64"
          },
          "updatedAt": {
            "type": "integer",
            "format": "int64"
          }
        },
        "additionalProperties": true
      },
      "NotificationType": {
        "type": "string",
        "enum": [
          "MarginCall",
          "ForceClose",
          "Deposit",
          "Withdraw"
        ]
      },
      "GetNotificationsResponse": {
        "type": "object",
        "required": [
          "notifications",
          "limit",
          "offset"
        ],
        "properties": {
          "notifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Notification"
            }
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "FcmTokenRegisterRequest": {
        "type": "object",
        "required": [
          "token",
          "device_id",
          "platform"
        ],
        "properties": {
          "token": {
            "type": "string",
            "description": "Raw FCM token."
          },
          "device_id": {
            "type": "string"
          },
          "platform": {
            "type": "string",
            "enum": [
              "ios",
              "android"
            ]
          }
        }
      },
      "FcmTokenDeleteRequest": {
        "type": "object",
        "required": [
          "token",
          "device_id"
        ],
        "properties": {
          "token": {
            "type": "string"
          },
          "device_id": {
            "type": "string"
          }
        }
      },
      "WatchListResponse": {
        "type": "object",
        "required": [
          "isSuccess",
          "data"
        ],
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "returnCode": {
            "type": "number"
          },
          "serviceInstance": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceInstance"
            }
          },
          "requestID": {
            "type": "string"
          },
          "algoID": {
            "type": "string"
          },
          "positionID": {
            "type": "string"
          },
          "requestType": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          },
          "dataType": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/WatchListData"
          }
        },
        "additionalProperties": true
      },
      "ServiceInstance": {
        "type": "object",
        "properties": {
          "serviceType": {
            "type": "string"
          },
          "instanceID": {
            "type": "string"
          },
          "lastUnixTime": {
            "type": "number"
          }
        },
        "additionalProperties": true
      },
      "WatchListData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "symbols": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SymbolData"
            }
          }
        },
        "additionalProperties": true
      },
      "SymbolEnvelope": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/SymbolData"
          }
        },
        "additionalProperties": true
      },
      "SymbolListEnvelope": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SymbolData"
            }
          }
        },
        "additionalProperties": true
      },
      "SymbolData": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string"
          },
          "companyName": {
            "type": "string"
          },
          "sectorLvl1": {
            "type": "string"
          },
          "sectorLvl2": {
            "type": "string"
          },
          "sectorLvl3": {
            "type": "string"
          },
          "industryName": {
            "type": "string"
          },
          "logoId": {
            "type": "string"
          },
          "news": {
            "type": "array",
            "items": {}
          },
          "sentiment": {
            "$ref": "#/components/schemas/Sentiment"
          },
          "info": {
            "$ref": "#/components/schemas/SymbolInfo"
          },
          "stat": {
            "$ref": "#/components/schemas/SymbolStat"
          },
          "depth": {
            "$ref": "#/components/schemas/PriceDepth"
          },
          "trend": {
            "$ref": "#/components/schemas/Trend"
          }
        },
        "additionalProperties": true
      },
      "Sentiment": {
        "type": "object",
        "properties": {
          "bullish": {
            "type": "number"
          },
          "bullishPercent": {
            "type": "number"
          },
          "bullishTime": {
            "type": "number"
          },
          "bearish": {
            "type": "number"
          },
          "bearishPercent": {
            "type": "number"
          },
          "bearishTime": {
            "type": "number"
          }
        },
        "additionalProperties": true
      },
      "SymbolInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "seq": {
            "type": "number"
          },
          "time": {
            "type": "number"
          },
          "symbol": {
            "type": "string"
          },
          "boardID": {
            "type": "string"
          },
          "nomiPrc": {
            "type": "number"
          },
          "ceilPrc": {
            "type": "number"
          },
          "floorPrc": {
            "type": "number"
          },
          "lsPrc": {
            "type": "number"
          },
          "lsVol": {
            "type": "number"
          },
          "openPrc": {
            "type": "number"
          },
          "closePrc": {
            "type": "number"
          },
          "highPrc": {
            "type": "number"
          },
          "lowPrc": {
            "type": "number"
          },
          "vWAP": {
            "type": "number"
          },
          "totVol": {
            "type": "number"
          },
          "totVal": {
            "type": "number"
          },
          "tradingSession": {
            "type": "string"
          },
          "openInterest": {
            "type": "number"
          }
        },
        "additionalProperties": true
      },
      "SymbolStat": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "lot": {
            "type": "number"
          },
          "minQty": {
            "type": "number"
          },
          "maxQty": {
            "type": "number"
          },
          "prcStep": {
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "productGroupID": {
            "type": "string"
          },
          "tickerCode": {
            "type": "string"
          },
          "symbolName": {
            "type": "string"
          },
          "underlyingSymbolCode": {
            "type": "string"
          },
          "expirationDate": {
            "type": "string"
          },
          "contractSize": {
            "type": "number"
          }
        },
        "additionalProperties": true
      },
      "PriceDepth": {
        "type": "object",
        "properties": {
          "seq": {
            "type": "number"
          },
          "time": {
            "type": "number"
          },
          "symbol": {
            "type": "string"
          },
          "boardID": {
            "type": "string"
          },
          "bidPriceDepth": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PriceLevel"
            }
          },
          "askPriceDepth": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PriceLevel"
            }
          }
        },
        "additionalProperties": true
      },
      "PriceLevel": {
        "type": "object",
        "properties": {
          "prc": {
            "type": "number"
          },
          "vol": {
            "type": "number"
          }
        },
        "additionalProperties": true
      },
      "Trend": {
        "type": "object",
        "properties": {
          "buyUp": {
            "$ref": "#/components/schemas/TrendDirection"
          },
          "sellDown": {
            "$ref": "#/components/schemas/TrendDirection"
          },
          "buyUpPct": {
            "type": "number"
          },
          "sellDownPct": {
            "type": "number"
          },
          "gapValue": {
            "type": "number"
          }
        },
        "additionalProperties": true
      },
      "TrendDirection": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string"
          },
          "way": {
            "type": "number"
          },
          "vwapPrice": {
            "type": "number"
          },
          "totalValue": {
            "type": "number"
          },
          "totalVol": {
            "type": "number"
          },
          "tradeCount": {
            "type": "number"
          }
        },
        "additionalProperties": true
      },
      "OhlcvBar": {
        "type": "object",
        "required": [
          "unixTime",
          "open",
          "high",
          "low",
          "close",
          "volume"
        ],
        "properties": {
          "unixTime": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp in milliseconds, based on mobile app parsing."
          },
          "open": {
            "type": "number"
          },
          "high": {
            "type": "number"
          },
          "low": {
            "type": "number"
          },
          "close": {
            "type": "number"
          },
          "volume": {
            "type": "number"
          }
        },
        "additionalProperties": true
      },
      "MarginRatioDiagnostics": {
        "type": "object",
        "properties": {
          "marginRatio": {
            "type": "number"
          },
          "forceCloseRate": {
            "type": "number"
          },
          "marginCallRate": {
            "type": "number"
          },
          "productGroup": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          }
        },
        "additionalProperties": true
      }
    }
  },
  "x-centrifugo": {
    "server": "wss://streaming.verolabs.co/connection/websocket",
    "description": "Centrifugo WebSocket channels used by lib/services/streaming_service.dart. The current client connects anonymously.",
    "channels": [
      {
        "name": "mkt:{dataType}:{symbol}",
        "dataTypes": [
          "depth",
          "productInfo",
          "productStat",
          "tradeLog"
        ],
        "description": "Generic market data stream. Depth stream often uses mkt:depth:{symbol}-{boardId}."
      },
      {
        "name": "mkt:depth:{symbol}-{boardId}",
        "payloadSchema": {
          "$ref": "#/components/schemas/PriceDepth"
        }
      },
      {
        "name": "mkt:OhlcvDTO:{symbol}:{time}",
        "payloadSchema": {
          "$ref": "#/components/schemas/OhlcvBar"
        }
      },
      {
        "name": "mkt:productInfo:{symbol}-{boardId}",
        "payloadSchema": {
          "$ref": "#/components/schemas/SymbolInfo"
        }
      },
      {
        "name": "order:{accountId}",
        "payloadSchema": {
          "$ref": "#/components/schemas/Order"
        }
      },
      {
        "name": "order:Account:{accountId}",
        "payloadSchema": {
          "$ref": "#/components/schemas/Account"
        }
      },
      {
        "name": "order:OrderExecutionReport:{connectionId}",
        "payloadSchema": {
          "$ref": "#/components/schemas/Order"
        }
      },
      {
        "name": "order:{notificationType}:{accountId}",
        "notificationTypes": [
          "Deposit",
          "ForceClose",
          "MarginCall",
          "Withdraw"
        ],
        "payloadSchema": {
          "$ref": "#/components/schemas/NotificationData"
        }
      }
    ]
  },
  "x-source": {
    "tenantConfig": "tenant.json",
    "serviceFiles": [
      "lib/services/auth_service.dart",
      "lib/services/api_client.dart",
      "lib/services/account_service.dart",
      "lib/services/order_service.dart",
      "lib/services/history_service.dart",
      "lib/services/market_data_service.dart",
      "lib/services/notification_service.dart",
      "lib/services/push_notification_service.dart",
      "lib/services/commission_service.dart",
      "lib/services/diagnostics_service.dart",
      "lib/services/streaming_service.dart",
      "lib/utils/pdf_helper.dart",
      "lib/widgets/symbol_logo_widget.dart"
    ]
  }
}
