{
  "openapi": "3.0.3",
  "info": {
    "title": "Vero OMS REST API",
    "version": "1.0.24",
    "description": "Tài liệu REST API cho Vero OMS. Path được đối chiếu với KrakenD config hiện tại trong k8s-dev-gitops/vero-algo/tools/krakend và schema response được bổ sung từ source backend/frontend."
  },
  "servers": [
    {
      "url": "https://api-gw.verolabs.co",
      "description": "API gateway"
    }
  ],
  "tags": [
    {
      "name": "Xác thực",
      "description": "Luồng xác thực và đăng xuất",
      "x-original-name": "Auth"
    },
    {
      "name": "Đăng ký",
      "description": "API hỗ trợ luồng đăng ký tài khoản"
    },
    {
      "name": "Tài khoản",
      "description": "Tài khoản người dùng, số dư, vị thế, nạp và rút tiền",
      "x-original-name": "Accounts"
    },
    {
      "name": "Tài khoản ngân hàng",
      "description": "Quản lý tài khoản ngân hàng đã lưu",
      "x-original-name": "Bank Accounts"
    },
    {
      "name": "Lệnh",
      "description": "Đặt lệnh, hủy lệnh, sửa lệnh và lịch sử lệnh",
      "x-original-name": "Orders"
    },
    {
      "name": "Lịch sử",
      "description": "Lệnh, khớp lệnh và giao dịch tiền của tài khoản.",
      "x-original-name": "History"
    },
    {
      "name": "Dữ liệu thị trường",
      "description": "Watchlist, tìm kiếm mã, dữ liệu sản phẩm và lịch sử OHLCV",
      "x-original-name": "Market Data"
    },
    {
      "name": "Thông báo",
      "description": "Thông báo trong ứng dụng",
      "x-original-name": "Notifications"
    },
    {
      "name": "Giới thiệu",
      "description": "Mã giới thiệu, rebate và tổng hợp hoa hồng",
      "x-original-name": "Referral"
    },
    {
      "name": "Chẩn đoán",
      "description": "Endpoint kiểm tra sức khỏe và chẩn đoán hệ thống",
      "x-original-name": "Diagnostics"
    }
  ],
  "paths": {
    "/api/authen/self-service/login/api": {
      "get": {
        "tags": [
          "Xác thực"
        ],
        "operationId": "createLoginFlow",
        "summary": "Tạo luồng đăng nhập",
        "security": [],
        "responses": {
          "200": {
            "description": "self-service flow object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFlow"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Tạo luồng đăng nhập",
            "sidebarTitle": "Tạo luồng đăng nhập",
            "description": "GET /api/authen/self-service/login/api"
          }
        }
      }
    },
    "/api/authen/self-service/login": {
      "post": {
        "tags": [
          "Xác thực"
        ],
        "operationId": "submitLoginFlow",
        "summary": "Gửi thông tin đăng nhập vào luồng login",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginFlowUpdateRequest"
              }
            }
          },
          "description": "Payload cap nhat self-service flow. Truyen ma flow tren query string va gui cac field bat buoc cua method dang dung."
        },
        "responses": {
          "200": {
            "description": "Dang nhap thanh cong. Ung dung doc session_token trong payload nay va dung no lam token phien dang nhap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/AuthFlowError",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Gửi thông tin đăng nhập vào luồng login",
            "sidebarTitle": "Gửi thông tin đăng nhập vào luồng login",
            "description": "POST /api/authen/self-service/login"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Flow"
          }
        ]
      }
    },
    "/api/authen/sessions/whoami": {
      "get": {
        "tags": [
          "Xác thực"
        ],
        "operationId": "getWhoamiSession",
        "summary": "Lấy phiên xác thực hiện tại",
        "description": "Tra ve session va identity hien tai cho session token truyen trong header X-Session-Token. Bearer JWT don le khong duoc endpoint nay chap nhan tren dev.",
        "security": [
          {
            "sessionToken": []
          }
        ],
        "parameters": [
          {
            "name": "tokenize_as",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "jwt_template_1"
            },
            "description": "Ten tokenizer template de yeu cau response dang tokenized (JWT). Template hien tai tren moi truong nay la jwt_template_1. Khi truyen gia tri nay, response se kem bearer token (JWT) trong field tokenized."
          }
        ],
        "responses": {
          "200": {
            "description": "Current session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthSession"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy phiên xác thực hiện tại",
            "sidebarTitle": "Lấy phiên xác thực hiện tại",
            "description": "GET /api/authen/sessions/whoami"
          }
        }
      }
    },
    "/api/authen/self-service/registration/api": {
      "get": {
        "tags": [
          "Xác thực"
        ],
        "operationId": "createRegistrationFlow",
        "summary": "Tạo luồng đăng ký",
        "security": [],
        "responses": {
          "200": {
            "description": "self-service flow object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFlow"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Tạo luồng đăng ký",
            "sidebarTitle": "Tạo luồng đăng ký",
            "description": "GET /api/authen/self-service/registration/api"
          }
        }
      }
    },
    "/api/authen/self-service/registration": {
      "post": {
        "tags": [
          "Xác thực"
        ],
        "operationId": "submitRegistrationFlow",
        "summary": "Gửi dữ liệu đăng ký vào luồng registration",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistrationFlowUpdateRequest"
              }
            }
          },
          "description": "Payload cap nhat self-service flow. Truyen ma flow tren query string va gui cac field bat buoc cua method dang dung."
        },
        "responses": {
          "200": {
            "description": "Registration flow da duoc xu ly. Response la registration flow moi nhat va co the kem session field neu he thong cho phep tao session ngay.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFlow"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/AuthFlowError",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Gửi dữ liệu đăng ký vào luồng registration",
            "sidebarTitle": "Gửi dữ liệu đăng ký vào luồng registration",
            "description": "POST /api/authen/self-service/registration"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Flow"
          }
        ]
      }
    },
    "/api/authen/self-service/recovery/api": {
      "get": {
        "tags": [
          "Xác thực"
        ],
        "operationId": "createRecoveryFlow",
        "summary": "Tạo luồng khôi phục tài khoản",
        "security": [],
        "responses": {
          "200": {
            "description": "self-service flow object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFlow"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Tạo luồng khôi phục tài khoản",
            "sidebarTitle": "Tạo luồng khôi phục tài khoản",
            "description": "GET /api/authen/self-service/recovery/api"
          }
        }
      }
    },
    "/api/authen/self-service/recovery": {
      "post": {
        "tags": [
          "Xác thực"
        ],
        "operationId": "updateRecoveryFlow",
        "summary": "Gửi hoặc xác thực mã khôi phục",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/RecoveryCodeRequest"
                  },
                  {
                    "$ref": "#/components/schemas/RecoveryVerifyRequest"
                  }
                ]
              }
            }
          },
          "description": "Payload cap nhat self-service flow. Truyen ma flow tren query string va gui cac field bat buoc cua method dang dung."
        },
        "responses": {
          "200": {
            "description": "Recovery flow da duoc cap nhat. Khi challenge thanh cong, response co the tra session_token truc tiep hoac continue_with chua set_session_token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecoveryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/AuthFlowError",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Gửi hoặc xác thực mã khôi phục",
            "sidebarTitle": "Gửi hoặc xác thực mã khôi phục",
            "description": "POST /api/authen/self-service/recovery"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Flow"
          }
        ]
      }
    },
    "/api/authen/self-service/settings/api": {
      "get": {
        "tags": [
          "Xác thực"
        ],
        "operationId": "createSettingsFlow",
        "summary": "Tạo luồng cài đặt để đổi mật khẩu",
        "security": [
          {
            "sessionToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "self-service flow object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFlow"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Tạo luồng cài đặt để đổi mật khẩu",
            "sidebarTitle": "Tạo luồng cài đặt để đổi mật khẩu",
            "description": "GET /api/authen/self-service/settings/api"
          }
        }
      }
    },
    "/api/authen/self-service/settings": {
      "post": {
        "tags": [
          "Xác thực"
        ],
        "operationId": "updateSettingsFlow",
        "summary": "Cập nhật mật khẩu trong luồng settings",
        "security": [
          {
            "sessionToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SettingsPasswordRequest"
              }
            }
          },
          "description": "Payload cap nhat self-service flow. Truyen ma flow tren query string va gui cac field bat buoc cua method dang dung."
        },
        "responses": {
          "200": {
            "description": "Settings flow da duoc cap nhat. Doi mat khau tra ve settings flow moi nhat.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFlow"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/AuthFlowError",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Cập nhật mật khẩu trong luồng settings",
            "sidebarTitle": "Cập nhật mật khẩu trong luồng settings",
            "description": "POST /api/authen/self-service/settings"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Flow"
          }
        ]
      }
    },
    "/api/authen/self-service/logout/api": {
      "delete": {
        "tags": [
          "Xác thực"
        ],
        "operationId": "logout",
        "summary": "Đăng xuất session ứng dụng hiện tại",
        "security": [
          {
            "sessionToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogoutRequest"
              }
            }
          },
          "description": "JSON body chua session token can huy."
        },
        "responses": {
          "204": {
            "description": "Session da duoc huy thanh cong. Khong tra ve body."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Đăng xuất session ứng dụng hiện tại",
            "sidebarTitle": "Đăng xuất session ứng dụng hiện tại",
            "description": "DELETE /api/authen/self-service/logout/api"
          }
        },
        "description": "Dang xuat session hien tai duoc dinh danh bang header X-Session-Token. Khi test nen dung token sai hoac request sai de verify route ma khong invalidate session that."
      }
    },
    "/api/v1/users/accounts": {
      "get": {
        "tags": [
          "Tài khoản"
        ],
        "operationId": "listAccounts",
        "summary": "Lấy danh sách tài khoản của người dùng hiện tại",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Accounts returned by the account service.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy danh sách tài khoản của người dùng hiện tại",
            "sidebarTitle": "Lấy danh sách tài khoản của người dùng hiện tại",
            "description": "GET /api/v1/users/accounts"
          }
        },
        "description": "List accounts for current user."
      }
    },
    "/api/v1/users/accounts/{accountID}/orders/{start_time}/{end_time}": {
      "get": {
        "tags": [
          "Lịch sử",
          "Tài khoản"
        ],
        "operationId": "listAccountOrders",
        "summary": "Lấy danh sách lệnh của tài khoản theo khoảng thời gian",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Mã tài khoản giao dịch. Người dùng đang đăng nhập phải có quyền truy cập tài khoản này."
          },
          {
            "name": "start_time",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Thời điểm bắt đầu dạng Unix timestamp milliseconds."
          },
          {
            "name": "end_time",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Thời điểm kết thúc dạng Unix timestamp milliseconds."
          }
        ],
        "responses": {
          "200": {
            "description": "Order records matching the account and time range.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy danh sách lệnh của tài khoản theo khoảng thời gian",
            "sidebarTitle": "Lấy danh sách lệnh của tài khoản theo khoảng thời gian",
            "description": "GET /api/v1/users/accounts/{accountID}/orders/{start_time}/{end_time}"
          }
        },
        "description": "Get account orders in time range."
      }
    },
    "/api/v1/users/accounts/{accountID}/trades/{start_time}/{end_time}": {
      "get": {
        "tags": [
          "Lịch sử",
          "Tài khoản"
        ],
        "operationId": "listAccountTrades",
        "summary": "Lấy danh sách khớp lệnh của tài khoản theo khoảng thời gian",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Mã tài khoản giao dịch. Người dùng đang đăng nhập phải có quyền truy cập tài khoản này."
          },
          {
            "name": "start_time",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Thời điểm bắt đầu dạng Unix timestamp milliseconds."
          },
          {
            "name": "end_time",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Thời điểm kết thúc dạng Unix timestamp milliseconds."
          }
        ],
        "responses": {
          "200": {
            "description": "Trade records matching the account and time range.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Trade"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy danh sách khớp lệnh của tài khoản theo khoảng thời gian",
            "sidebarTitle": "Lấy danh sách khớp lệnh của tài khoản theo khoảng thời gian",
            "description": "GET /api/v1/users/accounts/{accountID}/trades/{start_time}/{end_time}"
          }
        },
        "description": "Get account trades in time range."
      }
    },
    "/api/v1/users/accounts/{accountID}/transactions/{start_time}/{end_time}": {
      "get": {
        "tags": [
          "Lịch sử",
          "Tài khoản"
        ],
        "operationId": "listAccountTransactions",
        "summary": "Lấy giao dịch tài khoản theo khoảng thời gian",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Mã tài khoản giao dịch. Người dùng đang đăng nhập phải có quyền truy cập tài khoản này."
          },
          {
            "name": "start_time",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Thời điểm bắt đầu dạng Unix timestamp milliseconds."
          },
          {
            "name": "end_time",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Thời điểm kết thúc dạng Unix timestamp milliseconds."
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction records matching the account and time range.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Transaction"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy giao dịch tài khoản theo khoảng thời gian",
            "sidebarTitle": "Lấy giao dịch tài khoản theo khoảng thời gian",
            "description": "GET /api/v1/users/accounts/{accountID}/transactions/{start_time}/{end_time}"
          }
        },
        "description": "Get account transactions in time range."
      }
    },
    "/api/v1/users/accounts/{accountID}/equity/withdraw": {
      "post": {
        "tags": [
          "Tài khoản"
        ],
        "operationId": "withdrawEquity",
        "summary": "Rút tiền từ tài khoản",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Mã tài khoản giao dịch. Người dùng đang đăng nhập phải có quyền truy cập tài khoản này."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawEquityRequest"
              }
            }
          },
          "description": "Withdrawal payload. amount must be greater than zero and bankId must reference a saved bank account owned by the user."
        },
        "responses": {
          "200": {
            "description": "Withdrawal result and updated account balances.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawEquityResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Rút tiền từ tài khoản",
            "sidebarTitle": "Rút tiền từ tài khoản",
            "description": "POST /api/v1/users/accounts/{accountID}/equity/withdraw"
          }
        },
        "description": "Withdraw account equity."
      }
    },
    "/api/v1/bank-accounts": {
      "get": {
        "tags": [
          "Tài khoản ngân hàng"
        ],
        "operationId": "listBankAccounts",
        "summary": "Lấy danh sách tài khoản ngân hàng đã lưu",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Saved bank accounts for the current user.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BankAccount"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy danh sách tài khoản ngân hàng đã lưu",
            "sidebarTitle": "Lấy danh sách tài khoản ngân hàng đã lưu",
            "description": "GET /api/v1/bank-accounts"
          }
        },
        "description": "List bank accounts for current user."
      },
      "post": {
        "tags": [
          "Tài khoản ngân hàng"
        ],
        "operationId": "createBankAccount",
        "summary": "Tạo tài khoản ngân hàng",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankAccountRequest"
              }
            }
          },
          "description": "Bank account creation payload. bankAccountName, bankAccountNumber, and bankCode are required."
        },
        "responses": {
          "200": {
            "description": "Created bank account wrapped in a status envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Response lỗi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Thông điệp lỗi dạng text do backend hoặc gateway trả về."
                }
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Tạo tài khoản ngân hàng",
            "sidebarTitle": "Tạo tài khoản ngân hàng",
            "description": "POST /api/v1/bank-accounts"
          }
        },
        "description": "Create a bank account for current user."
      }
    },
    "/api/v1/orders/new/{refOrderID}/{accountID}/{symbol}/{orderSide}/{price}/{qty}/{orderType}": {
      "post": {
        "tags": [
          "Lệnh"
        ],
        "operationId": "placeOrder",
        "summary": "Đặt lệnh mới",
        "description": "Place a normal order. KrakenD forwards the authenticated user from JWT and sends all order fields as path parameters; there is no JSON request body.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "refOrderID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
[...]
