{
  "openapi": "3.0.3",
  "info": {
    "title": "Vero OMS REST API",
    "version": "1.0.23",
    "description": "Tài liệu REST API cho xác thực, tài khoản, lệnh, lịch sử, dữ liệu thị trường, thông báo, giới thiệu, chẩn đoán và tài nguyên tĩnh của Vero OMS."
  },
  "servers": [
    {
      "url": "https://api-gw.verolabs.co/api/v1",
      "description": "REST API"
    }
  ],
  "tags": [
    {
      "name": "Xác thực",
      "description": "Luồng xác thực và đăng xuất",
      "x-original-name": "Auth"
    },
    {
      "name": "Đăng ký",
      "description": "API hỗ trợ luồng đăng ký tài khoản"
    },
    {
      "name": "Tài khoản",
      "description": "Tài khoản người dùng, số dư, vị thế, nạp và rút tiền",
      "x-original-name": "Accounts"
    },
    {
      "name": "Tài khoản ngân hàng",
      "description": "Quản lý tài khoản ngân hàng đã lưu",
      "x-original-name": "Bank Accounts"
    },
    {
      "name": "Lệnh",
      "description": "Đặt lệnh, hủy lệnh, sửa lệnh và lịch sử lệnh",
      "x-original-name": "Orders"
    },
    {
      "name": "Lịch sử",
      "description": "Giao dịch tài khoản, khớp lệnh, hoa hồng và phí",
      "x-original-name": "History"
    },
    {
      "name": "Dữ liệu thị trường",
      "description": "Watchlist, tìm kiếm mã, dữ liệu sản phẩm và lịch sử OHLCV",
      "x-original-name": "Market Data"
    },
    {
      "name": "Thông báo",
      "description": "Thông báo trong ứng dụng",
      "x-original-name": "Notifications"
    },
    {
      "name": "Giới thiệu",
      "description": "Mã giới thiệu, rebate và tổng hợp hoa hồng",
      "x-original-name": "Referral"
    },
    {
      "name": "Chẩn đoán",
      "description": "Endpoint kiểm tra sức khỏe và chẩn đoán hệ thống",
      "x-original-name": "Diagnostics"
    }
  ],
  "paths": {
    "/self-service/login/api": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/authen",
          "description": "Authentication API"
        }
      ],
      "get": {
        "tags": [
          "Xác thực"
        ],
        "operationId": "createLoginFlow",
        "summary": "Tạo luồng đăng nhập",
        "security": [],
        "responses": {
          "200": {
            "description": "Login flow with UI nodes including csrf_token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFlow"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Tạo luồng đăng nhập",
            "sidebarTitle": "Tạo luồng đăng nhập",
            "description": "GET /self-service/login/api"
          }
        }
      }
    },
    "/self-service/login": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/authen",
          "description": "Authentication API"
        }
      ],
      "post": {
        "tags": [
          "Xác thực"
        ],
        "operationId": "submitLoginFlow",
        "summary": "Gửi thông tin đăng nhập vào luồng login",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/Flow"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginFlowUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful login flow response. The app reads session_token from this payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/AuthFlowError"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Gửi thông tin đăng nhập vào luồng login",
            "sidebarTitle": "Gửi thông tin đăng nhập vào luồng login",
            "description": "POST /self-service/login"
          }
        }
      }
    },
    "/sessions/whoami": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/authen",
          "description": "Authentication API"
        }
      ],
      "get": {
        "tags": [
          "Xác thực"
        ],
        "operationId": "getWhoamiSession",
        "summary": "Lấy phiên xác thực hiện tại",
        "description": "Trả về phiên xác thực hiện tại và dữ liệu định danh cho thông tin xác thực được cung cấp.",
        "security": [
          {
            "sessionToken": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tokenize_as",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "When provided, the response can include a bearer token for authenticated API requests."
          }
        ],
        "responses": {
          "200": {
            "description": "Session object with identity and optional bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthSession"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy phiên xác thực hiện tại",
            "sidebarTitle": "Lấy phiên xác thực hiện tại",
            "description": "GET /sessions/whoami"
          }
        }
      }
    },
    "/self-service/registration/api": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/authen",
          "description": "Authentication API"
        }
      ],
      "get": {
        "tags": [
          "Xác thực"
        ],
        "operationId": "createRegistrationFlow",
        "summary": "Tạo luồng đăng ký",
        "security": [],
        "responses": {
          "200": {
            "description": "Registration flow with UI nodes including csrf_token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFlow"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Tạo luồng đăng ký",
            "sidebarTitle": "Tạo luồng đăng ký",
            "description": "GET /self-service/registration/api"
          }
        }
      }
    },
    "/self-service/registration": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/authen",
          "description": "Authentication API"
        }
      ],
      "post": {
        "tags": [
          "Xác thực"
        ],
        "operationId": "submitRegistrationFlow",
        "summary": "Gửi dữ liệu đăng ký vào luồng registration",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/Flow"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistrationFlowUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registration flow accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFlow"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/AuthFlowError"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Gửi dữ liệu đăng ký vào luồng registration",
            "sidebarTitle": "Gửi dữ liệu đăng ký vào luồng registration",
            "description": "POST /self-service/registration"
          }
        }
      }
    },
    "/self-service/recovery/api": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/authen",
          "description": "Authentication API"
        }
      ],
      "get": {
        "tags": [
          "Xác thực"
        ],
        "operationId": "createRecoveryFlow",
        "summary": "Tạo luồng khôi phục tài khoản",
        "security": [],
        "responses": {
          "200": {
            "description": "Recovery flow data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFlow"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Tạo luồng khôi phục tài khoản",
            "sidebarTitle": "Tạo luồng khôi phục tài khoản",
            "description": "GET /self-service/recovery/api"
          }
        }
      }
    },
    "/self-service/recovery": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/authen",
          "description": "Authentication API"
        }
      ],
      "post": {
        "tags": [
          "Xác thực"
        ],
        "operationId": "updateRecoveryFlow",
        "summary": "Gửi hoặc xác thực mã khôi phục",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/Flow"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/RecoveryCodeRequest"
                  },
                  {
                    "$ref": "#/components/schemas/RecoveryVerifyRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recovery flow updated. A passed challenge returns session_token or continue_with set_ory_session_token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecoveryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/AuthFlowError"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Gửi hoặc xác thực mã khôi phục",
            "sidebarTitle": "Gửi hoặc xác thực mã khôi phục",
            "description": "POST /self-service/recovery"
          }
        }
      }
    },
    "/self-service/settings/api": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/authen",
          "description": "Authentication API"
        }
      ],
      "get": {
        "tags": [
          "Xác thực"
        ],
        "operationId": "createSettingsFlow",
        "summary": "Tạo luồng cài đặt để đổi mật khẩu",
        "security": [
          {
            "sessionToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Settings flow data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFlow"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Tạo luồng cài đặt để đổi mật khẩu",
            "sidebarTitle": "Tạo luồng cài đặt để đổi mật khẩu",
            "description": "GET /self-service/settings/api"
          }
        }
      }
    },
    "/self-service/settings": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/authen",
          "description": "Authentication API"
        }
      ],
      "post": {
        "tags": [
          "Xác thực"
        ],
        "operationId": "updateSettingsFlow",
        "summary": "Cập nhật mật khẩu trong luồng settings",
        "security": [
          {
            "sessionToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Flow"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SettingsPasswordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password changed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFlow"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/AuthFlowError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Cập nhật mật khẩu trong luồng settings",
            "sidebarTitle": "Cập nhật mật khẩu trong luồng settings",
            "description": "POST /self-service/settings"
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": [
          "Xác thực"
        ],
        "operationId": "logout",
        "summary": "Đăng xuất session ứng dụng hiện tại",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GenericSuccess"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Đăng xuất session ứng dụng hiện tại",
            "sidebarTitle": "Đăng xuất session ứng dụng hiện tại",
            "description": "POST /auth/logout"
          }
        }
      }
    },
    "/users/accounts": {
      "get": {
        "tags": [
          "Tài khoản"
        ],
        "operationId": "listAccounts",
        "summary": "Lấy danh sách tài khoản của người dùng hiện tại",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list accounts for current user result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy danh sách tài khoản của người dùng hiện tại",
            "sidebarTitle": "Lấy danh sách tài khoản của người dùng hiện tại",
            "description": "GET /users/accounts"
          }
        },
        "description": "List accounts for current user."
      }
    },
    "/users/accounts/{accountId}/orders/{startTime}/{endTime}": {
      "get": {
        "tags": [
          "Lịch sử",
          "Tài khoản"
        ],
        "operationId": "listAccountOrders",
        "summary": "Lấy danh sách lệnh của tài khoản theo khoảng thời gian",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trading account identifier."
          },
          {
            "name": "startTime",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Start timestamp for the requested range."
          },
          {
            "name": "endTime",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "End timestamp for the requested range."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the get account orders in time range result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy danh sách lệnh của tài khoản theo khoảng thời gian",
            "sidebarTitle": "Lấy danh sách lệnh của tài khoản theo khoảng thời gian",
            "description": "GET /users/accounts/{accountId}/orders/{startTime}/{endTime}"
          }
        },
        "description": "Get account orders in time range."
      }
    },
    "/users/accounts/{accountId}/trades/{startTime}/{endTime}": {
      "get": {
        "tags": [
          "Lịch sử",
          "Tài khoản"
        ],
        "operationId": "listAccountTrades",
        "summary": "Lấy danh sách khớp lệnh của tài khoản theo khoảng thời gian",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trading account identifier."
          },
          {
            "name": "startTime",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Start timestamp for the requested range."
          },
          {
            "name": "endTime",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "End timestamp for the requested range."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the get account trades in time range result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy danh sách khớp lệnh của tài khoản theo khoảng thời gian",
            "sidebarTitle": "Lấy danh sách khớp lệnh của tài khoản theo khoảng thời gian",
            "description": "GET /users/accounts/{accountId}/trades/{startTime}/{endTime}"
          }
        },
        "description": "Get account trades in time range."
      }
    },
    "/users/accounts/{accountId}/transactions/{startTime}/{endTime}": {
      "get": {
        "tags": [
          "Lịch sử",
          "Tài khoản"
        ],
        "operationId": "listAccountTransactions",
        "summary": "Lấy giao dịch tài khoản theo khoảng thời gian",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trading account identifier."
          },
          {
            "name": "startTime",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Start timestamp for the requested range."
          },
          {
            "name": "endTime",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "End timestamp for the requested range."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the get account transactions in time range result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy giao dịch tài khoản theo khoảng thời gian",
            "sidebarTitle": "Lấy giao dịch tài khoản theo khoảng thời gian",
            "description": "GET /users/accounts/{accountId}/transactions/{startTime}/{endTime}"
          }
        },
        "description": "Get account transactions in time range."
      }
    },
    "/users/accounts/{accountId}/commissions": {
      "get": {
        "tags": [
          "Lịch sử"
        ],
        "operationId": "listAccountCommissions",
        "summary": "Lấy danh sách hoa hồng của tài khoản",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/StartTimeQuery"
          },
          {
            "$ref": "#/components/parameters/EndTimeQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Commissions for the account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Commission"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy danh sách hoa hồng của tài khoản",
            "sidebarTitle": "Lấy danh sách hoa hồng của tài khoản",
            "description": "GET /users/accounts/{accountId}/commissions"
          }
        }
      }
    },
    "/users/accounts/{accountId}/fees": {
      "get": {
        "tags": [
          "Lịch sử"
        ],
        "operationId": "listAccountFees",
        "summary": "Lấy danh sách phí của tài khoản",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/StartTimeQuery"
          },
          {
            "$ref": "#/components/parameters/EndTimeQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Fees for the account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Fee"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy danh sách phí của tài khoản",
            "sidebarTitle": "Lấy danh sách phí của tài khoản",
            "description": "GET /users/accounts/{accountId}/fees"
          }
        }
      }
    },
    "/users/accounts/{accountId}/equity/withdraw": {
      "post": {
        "tags": [
          "Tài khoản"
        ],
        "operationId": "withdrawEquity",
        "summary": "Rút tiền từ tài khoản",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trading account identifier."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawEquityRequest"
              }
            }
          },
          "description": "Request payload for Withdraw account equity. Field descriptions are defined in the referenced schema when available."
        },
        "responses": {
          "200": {
            "description": "Creates or executes the withdraw account equity result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Rút tiền từ tài khoản",
            "sidebarTitle": "Rút tiền từ tài khoản",
            "description": "POST /users/accounts/{accountId}/equity/withdraw"
          }
        },
        "description": "Withdraw account equity."
      }
    },
    "/bank-accounts": {
      "get": {
        "tags": [
          "Tài khoản ngân hàng"
        ],
        "operationId": "listBankAccounts",
        "summary": "Lấy danh sách tài khoản ngân hàng đã lưu",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list bank accounts for current user result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BankAccount"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy danh sách tài khoản ngân hàng đã lưu",
            "sidebarTitle": "Lấy danh sách tài khoản ngân hàng đã lưu",
            "description": "GET /bank-accounts"
          }
        },
        "description": "List bank accounts for current user."
      },
      "post": {
        "tags": [
          "Tài khoản ngân hàng"
        ],
        "operationId": "createBankAccount",
        "summary": "Tạo tài khoản ngân hàng",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankAccountRequest"
              }
            }
          },
          "description": "Request payload for Create a bank account for current user. Field descriptions are defined in the referenced schema when available."
        },
        "responses": {
          "200": {
            "description": "Creates or executes the create a bank account for current user result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccount"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Tạo tài khoản ngân hàng",
            "sidebarTitle": "Tạo tài khoản ngân hàng",
            "description": "POST /bank-accounts"
          }
        },
        "description": "Create a bank account for current user."
      }
    },
    "/orders/new/{refOrderID}/{accountID}/{symbol}/{orderSide}/{price}/{qty}/{orderType}": {
      "post": {
        "tags": [
          "Lệnh"
        ],
        "operationId": "placeOrder",
        "summary": "Đặt lệnh mới",
        "description": "Place a legacy normal order.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "refOrderID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ref order id parameter."
          },
          {
            "name": "accountID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trading account identifier."
          },
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trading symbol or product code."
          },
          {
            "name": "orderSide",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "order side parameter."
          },
          {
            "name": "price",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "price parameter."
          },
          {
            "name": "qty",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "qty parameter."
          },
          {
            "name": "orderType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "order type parameter."
          }
        ],
        "responses": {
          "200": {
            "description": "Creates or executes the place a legacy normal order result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Đặt lệnh mới",
            "sidebarTitle": "Đặt lệnh mới",
            "description": "POST /orders/new/{refOrderID}/{accountID}/{symbol}/{orderSide}/{price}/{qty}/{orderType}"
          }
        }
      }
    },
    "/orders/cancel/{orderID}": {
      "post": {
        "tags": [
          "Lệnh"
        ],
        "operationId": "cancelOrder",
        "summary": "Hủy lệnh",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orderID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Mã định danh lệnh cần hủy."
          }
        ],
        "responses": {
          "200": {
            "description": "Lệnh đã được gửi yêu cầu hủy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Hủy lệnh",
            "sidebarTitle": "Hủy lệnh",
            "description": "POST /orders/cancel/{orderID}"
          }
        },
        "description": "Hủy một lệnh theo mã định danh. Dùng endpoint này cho lệnh thường, lệnh stop-loss hoặc bracket order khi có mã lệnh tương ứng."
      }
    },
    "/orders/execution-reports": {
      "get": {
        "tags": [
          "Lệnh"
        ],
        "operationId": "listExecutionReports",
        "summary": "Lấy báo cáo thực thi lệnh của người dùng hiện tại",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the get execution reports for current user result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy báo cáo thực thi lệnh của người dùng hiện tại",
            "sidebarTitle": "Lấy báo cáo thực thi lệnh của người dùng hiện tại",
            "description": "GET /orders/execution-reports"
          }
        },
        "description": "Get execution reports for current user."
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "Lệnh"
        ],
        "operationId": "listOrders",
        "summary": "Lấy danh sách lệnh với bộ lọc tùy chọn",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional status filter."
          },
          {
            "name": "account",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional account filter."
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Trading symbol or product code."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the get orders with optional filters result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy danh sách lệnh với bộ lọc tùy chọn",
            "sidebarTitle": "Lấy danh sách lệnh với bộ lọc tùy chọn",
            "description": "GET /orders"
          }
        },
        "description": "Get orders with optional filters."
      }
    },
    "/orders/trades": {
      "get": {
        "tags": [
          "Lệnh"
        ],
        "operationId": "listTrades",
        "summary": "Lấy danh sách khớp lệnh của người dùng hiện tại",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the get trades for current user result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy danh sách khớp lệnh của người dùng hiện tại",
            "sidebarTitle": "Lấy danh sách khớp lệnh của người dùng hiện tại",
            "description": "GET /orders/trades"
          }
        },
        "description": "Get trades for current user."
      }
    },
    "/MarketData/GetWatchList/{watchListId}": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/v1",
          "description": "REST API"
        }
      ],
      "get": {
        "tags": [
          "Dữ liệu thị trường"
        ],
        "operationId": "getWatchList",
        "summary": "Lấy watchlist theo id",
        "security": [],
        "parameters": [
          {
            "name": "watchListId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id parameter."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the get market-data watchlist by id/filter result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketDataResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy watchlist theo id",
            "sidebarTitle": "Lấy watchlist theo id",
            "description": "GET /MarketData/GetWatchList/{watchListId}"
          }
        },
        "description": "Get market-data watchlist by id/filter."
      }
    },
    "/MarketData/GetVN30Spot": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/v1",
          "description": "REST API"
        }
      ],
      "get": {
        "tags": [
          "Dữ liệu thị trường"
        ],
        "operationId": "getVN30Spot",
        "summary": "Lấy mã VN30 spot mặc định",
        "security": [],
        "responses": {
          "200": {
            "description": "Returns the get vn30 spot data result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketDataResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy mã VN30 spot mặc định",
            "sidebarTitle": "Lấy mã VN30 spot mặc định",
            "description": "GET /MarketData/GetVN30Spot"
          }
        },
        "description": "Get VN30 spot data."
      }
    },
    "/MarketData/GetSymbolSearch/{query}": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/v1",
          "description": "REST API"
        }
      ],
      "get": {
        "tags": [
          "Dữ liệu thị trường"
        ],
        "operationId": "searchSymbols",
        "summary": "Tìm kiếm mã giao dịch",
        "security": [],
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "search parameter."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the search symbols result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketDataResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Tìm kiếm mã giao dịch",
            "sidebarTitle": "Tìm kiếm mã giao dịch",
            "description": "GET /MarketData/GetSymbolSearch/{query}"
          }
        },
        "description": "Search symbols."
      }
    },
    "/MarketData/GetProductMaster/{symbol}": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/v1",
          "description": "REST API"
        }
      ],
      "get": {
        "tags": [
          "Dữ liệu thị trường"
        ],
        "operationId": "getProductMaster",
        "summary": "Lấy dữ liệu product master theo mã",
        "security": [],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trading symbol or product code."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the get product master result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketDataResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy dữ liệu product master theo mã",
            "sidebarTitle": "Lấy dữ liệu product master theo mã",
            "description": "GET /MarketData/GetProductMaster/{symbol}"
          }
        },
        "description": "Get product master."
      }
    },
    "/GetOhlcvHis/{symbol}/{resolution}/{fromMs}/{toMs}": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co",
          "description": "Market micro API"
        }
      ],
      "get": {
        "tags": [
          "Dữ liệu thị trường"
        ],
        "operationId": "getOhlcvHistory",
        "summary": "Lấy lịch sử OHLCV",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/Symbol"
          },
          {
            "$ref": "#/components/parameters/Resolution"
          },
          {
            "$ref": "#/components/parameters/FromMs"
          },
          {
            "$ref": "#/components/parameters/ToMs"
          }
        ],
        "responses": {
          "200": {
            "description": "OHLCV bars.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OhlcvBar"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy lịch sử OHLCV",
            "sidebarTitle": "Lấy lịch sử OHLCV",
            "description": "GET /GetOhlcvHis/{symbol}/{resolution}/{fromMs}/{toMs}"
          }
        }
      }
    },
    "/GetOhlcvHis/{symbol}/{resolution}/{fromMs}/{toMs}/{countBack}": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co",
          "description": "Market micro API"
        }
      ],
      "get": {
        "tags": [
          "Dữ liệu thị trường"
        ],
        "operationId": "getOhlcvHistoryCountBack",
        "summary": "Lấy lịch sử OHLCV với countBack",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/Symbol"
          },
          {
            "$ref": "#/components/parameters/Resolution"
          },
          {
            "$ref": "#/components/parameters/FromMs"
          },
          {
            "$ref": "#/components/parameters/ToMs"
          },
          {
            "name": "countBack",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OHLCV bars.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OhlcvBar"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy lịch sử OHLCV với countBack",
            "sidebarTitle": "Lấy lịch sử OHLCV với countBack",
            "description": "GET /GetOhlcvHis/{symbol}/{resolution}/{fromMs}/{toMs}/{countBack}"
          }
        }
      }
    },
    "/diagnostics/margin-ratios/{symbol}": {
      "get": {
        "tags": [
          "Chẩn đoán",
          "Dữ liệu thị trường"
        ],
        "operationId": "getMarginRatio",
        "summary": "Lấy tỷ lệ ký quỹ theo mã",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trading symbol or product code."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the get effective margin ratio diagnostics for a symbol result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarginRatio"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy tỷ lệ ký quỹ theo mã",
            "sidebarTitle": "Lấy tỷ lệ ký quỹ theo mã",
            "description": "GET /diagnostics/margin-ratios/{symbol}"
          }
        },
        "description": "Get effective margin ratio diagnostics for a symbol."
      }
    },
    "/notifications": {
      "get": {
        "tags": [
          "Thông báo"
        ],
        "operationId": "listNotifications",
        "summary": "Lấy danh sách thông báo của người dùng hiện tại",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 50
            },
            "description": "Maximum number of records to return."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 0
            },
            "description": "Number of records to skip."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the get notifications for current user result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy danh sách thông báo của người dùng hiện tại",
            "sidebarTitle": "Lấy danh sách thông báo của người dùng hiện tại",
            "description": "GET /notifications"
          }
        },
        "description": "Get notifications for current user."
      }
    },
    "/notifications/{notificationId}/read": {
      "put": {
        "tags": [
          "Thông báo"
        ],
        "operationId": "markNotificationAsRead",
        "summary": "Đánh dấu thông báo là đã đọc",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Notification identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the mark notification as read result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Đánh dấu thông báo là đã đọc",
            "sidebarTitle": "Đánh dấu thông báo là đã đọc",
            "description": "PUT /notifications/{notificationId}/read"
          }
        },
        "description": "Mark notification as read."
      }
    },
    "/referral/stats": {
      "get": {
        "tags": [
          "Giới thiệu"
        ],
        "operationId": "getReferralStats",
        "summary": "Lấy thống kê giới thiệu",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the get referral statistics result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferralSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy thống kê giới thiệu",
            "sidebarTitle": "Lấy thống kê giới thiệu",
            "description": "GET /referral/stats"
          }
        },
        "description": "Get referral statistics."
      }
    },
    "/referral/refcode/{refCode}": {
      "get": {
        "tags": [
          "Giới thiệu"
        ],
        "operationId": "getReferralCodeInfo",
        "summary": "Lấy thông tin mã giới thiệu",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "refCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Referral code."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the get referral code information result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferralInfo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy thông tin mã giới thiệu",
            "sidebarTitle": "Lấy thông tin mã giới thiệu",
            "description": "GET /referral/refcode/{refCode}"
          }
        },
        "description": "Get referral code information."
      }
    },
    "/referral/history": {
      "get": {
        "tags": [
          "Giới thiệu"
        ],
        "operationId": "getReferralHistory",
        "summary": "Lấy lịch sử giới thiệu",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 100
            },
            "description": "Maximum number of records to return."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the get referral history result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GenericObject"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy lịch sử giới thiệu",
            "sidebarTitle": "Lấy lịch sử giới thiệu",
            "description": "GET /referral/history"
          }
        },
        "description": "Get referral history."
      }
    },
    "/referral/refcode": {
      "post": {
        "tags": [
          "Giới thiệu"
        ],
        "operationId": "setReferralCode",
        "summary": "Tạo hoặc cập nhật mã giới thiệu và tỷ lệ rebate",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetRefCodeRebateRateRequest"
              }
            }
          },
          "description": "Request payload for Set or update referral code rebate rate. Field descriptions are defined in the referenced schema when available."
        },
        "responses": {
          "200": {
            "description": "Creates or executes the set or update referral code rebate rate result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferralInfo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Tạo hoặc cập nhật mã giới thiệu và tỷ lệ rebate",
            "sidebarTitle": "Tạo hoặc cập nhật mã giới thiệu và tỷ lệ rebate",
            "description": "POST /referral/refcode"
          }
        },
        "description": "Set or update referral code rebate rate."
      }
    },
    "/bank-accounts/{bankId}": {
      "get": {
        "tags": [
          "Tài khoản ngân hàng"
        ],
        "operationId": "getBankAccount",
        "summary": "Lấy tài khoản ngân hàng theo ID",
        "description": "Get bank account by ID.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "bank id parameter."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the get bank account by id result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccount"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy tài khoản ngân hàng theo ID",
            "sidebarTitle": "Lấy tài khoản ngân hàng theo ID",
            "description": "GET /bank-accounts/{bankId}"
          }
        }
      }
    },
    "/users/right-subscriptions": {
      "get": {
        "tags": [
          "Tài khoản"
        ],
        "operationId": "listUserRightSubscriptions",
        "summary": "Lấy danh sách yêu cầu đăng ký quyền mua",
        "description": "List current user right subscription requests.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list current user right subscription requests result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RightSubscription"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy danh sách yêu cầu đăng ký quyền mua",
            "sidebarTitle": "Lấy danh sách yêu cầu đăng ký quyền mua",
            "description": "GET /users/right-subscriptions"
          }
        }
      },
      "post": {
        "tags": [
          "Tài khoản"
        ],
        "operationId": "subscribeRight",
        "summary": "Đăng ký quyền mua",
        "description": "Subscribe to a right offering.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscribeRightRequest"
              }
            }
          },
          "description": "Request payload for Subscribe to a right offering. Field descriptions are defined in the referenced schema when available."
        },
        "responses": {
          "200": {
            "description": "Creates or executes the subscribe to a right offering result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Đăng ký quyền mua",
            "sidebarTitle": "Đăng ký quyền mua",
            "description": "POST /users/right-subscriptions"
          }
        }
      }
    },
    "/users/covered-margin-call": {
      "patch": {
        "tags": [
          "Tài khoản"
        ],
        "operationId": "adjustCoveredMargin",
        "summary": "Điều chỉnh số tiền covered margin call",
        "description": "Adjust covered margin call amount.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdjustCoveredMarginRequest"
              }
            }
          },
          "description": "Request payload for Adjust covered margin call amount. Field descriptions are defined in the referenced schema when available."
        },
        "responses": {
          "200": {
            "description": "Partially updates the adjust covered margin call amount result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Điều chỉnh số tiền covered margin call",
            "sidebarTitle": "Điều chỉnh số tiền covered margin call",
            "description": "PATCH /users/covered-margin-call"
          }
        }
      }
    },
    "/api/id-card": {
      "post": {
        "tags": [
          "Đăng ký"
        ],
        "summary": "Trích xuất thông tin CCCD khi đăng ký",
        "operationId": "parseSignupIdCard",
        "description": "Phân tích ảnh mặt trước CCCD/CMND và các ảnh mặt sau hoặc chân dung nếu có trong bước đăng ký. Gửi nội dung ảnh dạng base64 trong JSON, không gửi tiền tố data URL.",
        "requestBody": {
          "required": true,
          "description": "Ảnh CCCD/CMND dạng base64 trong luồng đăng ký. `frontImage` là bắt buộc; `backImage` và `portraitImage` là tùy chọn.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdCardParseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dữ liệu định danh đã trích xuất và URL ảnh đã xử lý nếu có.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdCardParseResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "security": [],
        "servers": [
          {
            "url": "https://api-gw.verolabs.co/api/v2/chat",
            "description": "Signup API"
          }
        ],
        "x-mint": {
          "metadata": {
            "title": "Trích xuất thông tin CCCD khi đăng ký",
            "sidebarTitle": "Trích xuất thông tin CCCD",
            "description": "POST /api/id-card"
          }
        }
      }
    },
    "/MarketData/GetProductTradeLog/{symbol}/{startUnixTime}/{endUnixTime}": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/v1",
          "description": "REST API"
        }
      ],
      "get": {
        "tags": [
          "Dữ liệu thị trường"
        ],
        "operationId": "getProductTradeLog",
        "summary": "Lấy trade log của mã theo khoảng thời gian",
        "description": "Lấy trade log của một mã giao dịch trong khoảng thời gian Unix milliseconds.",
        "security": [],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Mã giao dịch hoặc mã sản phẩm."
          },
          {
            "name": "startUnixTime",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Thời điểm bắt đầu theo Unix milliseconds."
          },
          {
            "name": "endUnixTime",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Thời điểm kết thúc theo Unix milliseconds."
          }
        ],
        "responses": {
          "200": {
            "description": "Trade log của mã trong khoảng thời gian được yêu cầu.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketDataResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy trade log của mã theo khoảng thời gian",
            "sidebarTitle": "Lấy trade log của mã theo khoảng thời gian",
            "description": "GET /MarketData/GetProductTradeLog/{symbol}/{startUnixTime}/{endUnixTime}"
          }
        }
      }
    },
    "/MarketData/GetVNIndex/{index}": {
      "servers": [
        {
          "url": "https://api-gw.verolabs.co/api/v1",
          "description": "REST API"
        }
      ],
      "get": {
        "tags": [
          "Dữ liệu thị trường"
        ],
        "operationId": "getVNIndex",
        "summary": "Lấy dữ liệu VN index",
        "description": "Lấy dữ liệu của một chỉ số thị trường Việt Nam.",
        "security": [],
        "parameters": [
          {
            "name": "index",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Mã định danh chỉ số thị trường."
          }
        ],
        "responses": {
          "200": {
            "description": "Dữ liệu chỉ số thị trường được yêu cầu.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketDataResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy dữ liệu VN index",
            "sidebarTitle": "Lấy dữ liệu VN index",
            "description": "GET /MarketData/GetVNIndex/{index}"
          }
        }
      }
    },
    "/orders/stop-order": {
      "get": {
        "tags": [
          "Lệnh"
        ],
        "operationId": "getStopOrders",
        "summary": "Danh sách lệnh stop-loss",
        "description": "Liệt kê lệnh stop-loss với các bộ lọc trạng thái, tài khoản và mã giao dịch tùy chọn.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Các lệnh stop-loss khớp bộ lọc yêu cầu.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Danh sách lệnh stop-loss",
            "sidebarTitle": "Danh sách lệnh stop-loss",
            "description": "GET /orders/stop-order"
          }
        },
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Bộ lọc trạng thái tùy chọn."
          },
          {
            "name": "account",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Bộ lọc tài khoản tùy chọn."
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Mã giao dịch hoặc mã sản phẩm."
          }
        ]
      },
      "post": {
        "tags": [
          "Lệnh"
        ],
        "operationId": "placeStopOrder",
        "summary": "Đặt lệnh stop-loss",
        "description": "Tạo lệnh stop-loss để gửi lệnh sau khi điều kiện kích hoạt được thỏa mãn.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Lệnh stop-loss đã được tạo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Đặt lệnh stop-loss",
            "sidebarTitle": "Đặt lệnh stop-loss",
            "description": "POST /orders/stop-order"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewStopOrderRequest"
              }
            }
          },
          "description": "Payload tạo lệnh stop-loss."
        }
      }
    },
    "/orders/stop-order/{orderId}": {
      "get": {
        "tags": [
          "Lệnh"
        ],
        "operationId": "getStopOrder",
        "summary": "Lấy lệnh stop-loss theo ID",
        "description": "Lấy thông tin lệnh stop-loss theo mã định danh lệnh.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Chi tiết lệnh stop-loss.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy lệnh stop-loss theo ID",
            "sidebarTitle": "Lấy lệnh stop-loss theo ID",
            "description": "GET /orders/stop-order/{orderId}"
          }
        },
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Mã định danh lệnh."
          }
        ]
      }
    },
    "/orders/stop-order/{orderId}/modify": {
      "put": {
        "tags": [
          "Lệnh"
        ],
        "operationId": "modifyStopOrder",
        "summary": "Sửa lệnh stop-loss",
        "description": "Sửa thông tin một lệnh stop-loss hiện có.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Lệnh stop-loss đã được cập nhật.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Sửa lệnh stop-loss",
            "sidebarTitle": "Sửa lệnh stop-loss",
            "description": "PUT /orders/stop-order/{orderId}/modify"
          }
        },
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Mã định danh lệnh."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyStopOrderRequest"
              }
            }
          },
          "description": "Payload sửa lệnh stop-loss."
        }
      }
    },
    "/orders/bracket-order": {
      "get": {
        "tags": [
          "Lệnh"
        ],
        "operationId": "getBracketOrders",
        "summary": "Danh sách bracket order",
        "description": "Liệt kê bracket order với các bộ lọc trạng thái, tài khoản và mã giao dịch tùy chọn.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Các bracket order khớp bộ lọc yêu cầu.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Danh sách bracket order",
            "sidebarTitle": "Danh sách bracket order",
            "description": "GET /orders/bracket-order"
          }
        },
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Bộ lọc trạng thái tùy chọn."
          },
          {
            "name": "account",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Bộ lọc tài khoản tùy chọn."
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Mã giao dịch hoặc mã sản phẩm."
          }
        ]
      },
      "post": {
        "tags": [
          "Lệnh"
        ],
        "operationId": "placeBracketOrder",
        "summary": "Đặt bracket order",
        "description": "Tạo bracket order với nhánh chốt lời và cắt lỗ tùy chọn.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Bracket order đã được tạo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Đặt bracket order",
            "sidebarTitle": "Đặt bracket order",
            "description": "POST /orders/bracket-order"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewBracketOrderRequest"
              }
            }
          },
          "description": "Payload tạo bracket order."
        }
      }
    },
    "/orders/bracket-order/{bracketOrderId}": {
      "get": {
        "tags": [
          "Lệnh"
        ],
        "operationId": "getBracketOrder",
        "summary": "Lấy bracket order theo ID",
        "description": "Lấy thông tin bracket order theo mã định danh.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Chi tiết bracket order.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Lấy bracket order theo ID",
            "sidebarTitle": "Lấy bracket order theo ID",
            "description": "GET /orders/bracket-order/{bracketOrderId}"
          }
        },
        "parameters": [
          {
            "name": "bracketOrderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Mã định danh bracket order."
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token used for protected REST API requests."
      },
      "sessionToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Session-Token",
        "description": "Session token returned by authentication flows."
      }
    },
    "parameters": {
      "Flow": {
        "name": "flow",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Authentication flow id returned by the corresponding create flow endpoint."
      },
      "AccountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "StartTime": {
        "name": "startTime",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        },
        "description": "Unix timestamp in milliseconds."
      },
      "EndTime": {
        "name": "endTime",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        },
        "description": "Unix timestamp in milliseconds."
      },
      "StartTimeQuery": {
        "name": "start_time",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int64"
        },
        "description": "Unix timestamp in milliseconds."
      },
      "EndTimeQuery": {
        "name": "end_time",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int64"
        },
        "description": "Unix timestamp in milliseconds."
      },
      "OrderID": {
        "name": "orderID",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "Symbol": {
        "name": "symbol",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "example": "VN30F1M"
        }
      },
      "Resolution": {
        "name": "resolution",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "example": 60
        },
        "description": "Candle resolution in seconds. The app uses 60 for 1 minute and 86400 for daily."
      },
      "FromMs": {
        "name": "fromMs",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        },
        "description": "Start time in Unix milliseconds."
      },
      "ToMs": {
        "name": "toMs",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        },
        "description": "End time in Unix milliseconds."
      }
    },
    "responses": {
      "GenericSuccess": {
        "description": "Request completed successfully.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GenericObject"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing, expired or invalid token.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Error": {
        "description": "Error response. The app reads detail or message when available.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          },
          "text/plain": {
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "AuthFlowError": {
        "description": "Authentication flow validation error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AuthFlow"
            }
          }
        }
      },
      "ErrorResponse": {
        "description": "Error response containing an error code, message, detail, or plain text.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "GenericObject": {
        "type": "object",
        "properties": {},
        "additionalProperties": true,
        "description": "Untyped JSON object for dynamic response fields."
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Machine-readable error code or short error string."
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message."
          },
          "detail": {
            "type": "string",
            "description": "Detailed error text returned when available."
          },
          "details": {
            "description": "Additional structured error details, if provided."
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code associated with the error."
          }
        },
        "additionalProperties": true,
        "description": "Standard error payload returned by the API."
      },
      "AuthFlow": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "issued_at": {
            "type": "string",
            "format": "date-time"
          },
          "ui": {
            "type": "object",
            "additionalProperties": true
          },
          "state": {
            "type": "string"
          }
        }
      },
      "LoginFlowUpdateRequest": {
        "type": "object",
        "required": [
          "method",
          "csrf_token",
          "password_identifier",
          "password"
        ],
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "password"
            ]
          },
          "csrf_token": {
            "type": "string"
          },
          "password_identifier": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "format": "password"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "session_token": {
            "type": "string"
          },
          "session": {
            "$ref": "#/components/schemas/AuthSession"
          },
          "identity": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "AuthSession": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "identity": {
            "type": "object",
            "additionalProperties": true,
            "properties": {
              "id": {
                "type": "string"
              },
              "traits": {
                "type": "object",
                "additionalProperties": true
              }
            }
          },
          "tokenized": {
            "type": "string",
            "description": "Bearer token returned when a tokenized session is requested."
          }
        }
      },
      "RegistrationFlowUpdateRequest": {
        "type": "object",
        "required": [
          "method",
          "traits",
          "password"
        ],
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "password"
            ]
          },
          "traits": {
            "$ref": "#/components/schemas/RegistrationTraits"
          },
          "password": {
            "type": "string",
            "format": "password",
            "description": "Mobile app generates a secure random password."
          },
          "csrf_token": {
            "type": "string"
          }
        }
      },
      "RegistrationTraits": {
        "type": "object",
        "required": [
          "email",
          "name",
          "documentNumber"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "object",
            "required": [
              "first",
              "last"
            ],
            "properties": {
              "first": {
                "type": "string"
              },
              "last": {
                "type": "string"
              }
            }
          },
          "phone": {
            "type": "string"
          },
          "refer_code": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "documentNumber": {
            "type": "string"
          }
        }
      },
      "RecoveryCodeRequest": {
        "type": "object",
        "required": [
          "method",
          "email"
        ],
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "code"
            ]
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "RecoveryVerifyRequest": {
        "type": "object",
        "required": [
          "method",
          "code"
        ],
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "code"
            ]
          },
          "code": {
            "type": "string"
          }
        }
      },
      "RecoveryResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AuthFlow"
          },
          {
            "type": "object",
            "properties": {
              "session_token": {
                "type": "string"
              },
              "continue_with": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        ]
      },
      "SettingsPasswordRequest": {
        "type": "object",
        "required": [
          "method",
          "password"
        ],
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "password"
            ]
          },
          "password": {
            "type": "string",
            "format": "password"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "accountId",
          "totalEquity",
          "credit",
          "maintenanceMargin",
          "tempMaintenanceMargin",
          "totalRealizedPnl",
          "totalUnrealizedPnl",
          "tradingPower",
          "crossMargin",
          "positions",
          "tempPositions"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "totalEquity": {
            "type": "number"
          },
          "credit": {
            "type": "number"
          },
          "maintenanceMargin": {
            "type": "number"
          },
          "tempMaintenanceMargin": {
            "type": "number"
          },
          "totalRealizedPnl": {
            "type": "number"
          },
          "totalUnrealizedPnl": {
            "type": "number"
          },
          "tradingPower": {
            "type": "number"
          },
          "crossMargin": {
            "type": "boolean"
          },
          "refCode": {
            "type": "string"
          },
          "positions": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Position"
            }
          },
          "tempPositions": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/TempPosition"
            }
          }
        }
      },
      "Position": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "avgPrice": {
            "type": "number"
          },
          "qty": {
            "type": "integer",
            "description": "Positive is long, negative is short."
          },
          "marketPrice": {
            "type": "number"
          },
          "marketValue": {
            "type": "number"
          },
          "portPercent": {
            "type": "number"
          },
          "realizePnl": {
            "type": "number"
          },
          "unrealizePnl": {
            "type": "number"
          },
          "coveredMarginCall": {
            "type": "number"
          },
          "marginRatio": {
            "$ref": "#/components/schemas/MarginRatio"
          },
          "forceClosePrice": {
            "type": "number"
          },
          "forceCloseStatus": {
            "type": "string"
          },
          "marginCallPrice": {
[...]
